In [1]:
import pandas as pd

In [357]:
df= pd.read_csv('data_star_기대.csv')

In [358]:
df

,Unnamed: 0,title,directors,actors,plots,genre,runtime,keywords,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz
0,0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",“인왕산에 흉악한 짐승이 나타나 사람을 해쳤다 하옵니다.그것을 두고 듣지도 보지도 ...,액션,105.0,"조선시대,전염병,괴물,시대극/사극,사투",15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1274.0,1629
1,1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",그가 사라졌다그에게서 모든 것이 사라졌다증권회사의 지점장 강재훈(이병헌). 안정된 ...,드라마,97.0,"기러기아빠,호주,오스트레일리아,반전,반전영화,동물",15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,3838.0,581
2,2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...","이겨야죠! 이겨야 할매들 분이 안풀리겠습니까? 1992~1998 6년의 기간, 2...",드라마,121.0,"종군위안부,위안부,일본군위안부피해자,실화바탕,재판,관부재판,정신대,정신대할머니,법정...",12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,494.0,943
3,3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",커피집이 있을 것 같지 않은 골목 안으로 커피집이 있고 사람들이 커피집 안 여기저기...,드라마,66.0,"삶과죽음,타인의 삶,언행,부산국제영화제,베를린영화제,삶의굴레,삶의순환,삶의의미",15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,162.0,111
4,4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",나쁘고 좋은 사람들을 만났다.교통사고로 부모를 잃고 졸지에 가장이 된 영주는 자신의...,드라마,101.0,"부산국제영화제,부모님의죽음,장편데뷔작,복수극",12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,800.0,335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,570,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...","“기다려... 우리가 꼭 데리러 갈게...”해발 8,750 미터 히말라야 에베레스트...",드라마,124.0,"산,등산,히말라야,동료,에베레스트,실화바탕,실화바탕,실화바탕,실존인물,산악등반,동사...",12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,13693.0,1987
571,571,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...","그나저나 나한테 언제 시집 오실 생각이세요? 돈 없고, 대책 없고, 가진 것도 ...",드라마,123.0,"소설원작,중국소설원작",12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,10731.0,1196
572,572,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",전국민을 시원하게 웃겨줄 액션 어드벤처!조선을 뒤흔든 최강도적들의 대격전! 조선의 ...,어드벤처,130.0,"고래,바다,사대부,조선,해적,국새",12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,4941.0,1413
573,573,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...","얼굴, 몸매, 성적 매력까지 다 가진 슈퍼 섹시 아바타로 변신!내 인생 최고의 특급...",코미디,80.0,"백수,생체실험,정체불명,숫총각,아바타",청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,247.0,147
574,574,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...","“책상을 탁! 치니 억! 하고 죽었습니다”1987년 1월, 경찰 조사를 받던 스물두...",드라마,129.0,"518민주화운동,국가폭력,1980년대,1987년,대학생,검사,시위,신문기자,안기부,...",15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,13877.0,1830

In [359]:
movie_buzz = pd.read_csv('movie_buzz_naver.csv')

In [361]:
df = pd.concat([df,movie_buzz], axis=1)

In [362]:
df

,Unnamed: 0,title,directors,actors,plots,genre,runtime,keywords,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz,movie_buzz_naver
0,0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",“인왕산에 흉악한 짐승이 나타나 사람을 해쳤다 하옵니다.그것을 두고 듣지도 보지도 ...,액션,105.0,"조선시대,전염병,괴물,시대극/사극,사투",15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1274.0,1629,22
1,1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",그가 사라졌다그에게서 모든 것이 사라졌다증권회사의 지점장 강재훈(이병헌). 안정된 ...,드라마,97.0,"기러기아빠,호주,오스트레일리아,반전,반전영화,동물",15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,3838.0,581,19
2,2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...","이겨야죠! 이겨야 할매들 분이 안풀리겠습니까? 1992~1998 6년의 기간, 2...",드라마,121.0,"종군위안부,위안부,일본군위안부피해자,실화바탕,재판,관부재판,정신대,정신대할머니,법정...",12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,494.0,943,30
3,3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",커피집이 있을 것 같지 않은 골목 안으로 커피집이 있고 사람들이 커피집 안 여기저기...,드라마,66.0,"삶과죽음,타인의 삶,언행,부산국제영화제,베를린영화제,삶의굴레,삶의순환,삶의의미",15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,162.0,111,6
4,4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",나쁘고 좋은 사람들을 만났다.교통사고로 부모를 잃고 졸지에 가장이 된 영주는 자신의...,드라마,101.0,"부산국제영화제,부모님의죽음,장편데뷔작,복수극",12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,800.0,335,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,570,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...","“기다려... 우리가 꼭 데리러 갈게...”해발 8,750 미터 히말라야 에베레스트...",드라마,124.0,"산,등산,히말라야,동료,에베레스트,실화바탕,실화바탕,실화바탕,실존인물,산악등반,동사...",12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,13693.0,1987,219
571,571,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...","그나저나 나한테 언제 시집 오실 생각이세요? 돈 없고, 대책 없고, 가진 것도 ...",드라마,123.0,"소설원작,중국소설원작",12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,10731.0,1196,124
572,572,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",전국민을 시원하게 웃겨줄 액션 어드벤처!조선을 뒤흔든 최강도적들의 대격전! 조선의 ...,어드벤처,130.0,"고래,바다,사대부,조선,해적,국새",12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,4941.0,1413,379
573,573,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...","얼굴, 몸매, 성적 매력까지 다 가진 슈퍼 섹시 아바타로 변신!내 인생 최고의 특급...",코미디,80.0,"백수,생체실험,정체불명,숫총각,아바타",청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,247.0,147,25
574,574,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...","“책상을 탁! 치니 억! 하고 죽었습니다”1987년 1월, 경찰 조사를 받던 스물두...",드라마,129.0,"518민주화운동,국가폭력,1980년대,1987년,대학생,검사,시위,신문기자,안기부,...",15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,13877.0,1830,61

In [78]:
#star = pd.read_csv('data_merge_star.csv')

In [79]:
#star.columns

In [80]:
#star = star.drop(['Unnamed: 0', 'directors', 'actors', 'plots', 'genre',
#       'runtime', 'keywords', '등급', '개봉일', '국적', 'screenCnt', 'salesAcc',
#       'audiAcc'], axis=1)

In [81]:
#star

In [82]:
#df = pd.merge(df,star, how='left', on='title' )

In [83]:
#df

In [84]:
#df_ect = pd.read_csv('data_merge_star.csv')

In [85]:
#df_1978 = df_ect[df_ect['title']=='1987']

In [86]:
#df_1978

In [87]:
#df = pd.concat([df,df_1978], axis=0)

In [88]:
#df.loc[df['title']=='1987','제작비'] = 14500000000

In [363]:
df = df.drop(['Unnamed: 0','runtime','keywords','plots'], axis=1)

In [365]:
df

,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz,movie_buzz_naver
0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1274.0,1629,22
1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,3838.0,581,19
2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...",드라마,12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,494.0,943,30
3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",드라마,15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,162.0,111,6
4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",드라마,12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,800.0,335,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...",드라마,12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,13693.0,1987,219
571,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...",드라마,12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,10731.0,1196,124
572,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",어드벤처,12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,4941.0,1413,379
573,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...",코미디,청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,247.0,147,25
574,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,13877.0,1830,61

# 타겟 만들기

In [366]:
df['Target'] = df['salesAcc'] - df['제작비']

In [367]:
df

,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz,movie_buzz_naver,Target
0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1274.0,1629,22,-6.395835e+09
1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,3838.0,581,19,-1.814481e+09
2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...",드라마,12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,494.0,943,30,2.102595e+07
3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",드라마,15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,162.0,111,6,-3.967975e+07
4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",드라마,12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,800.0,335,5,-2.727025e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...",드라마,12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,13693.0,1987,219,5.017358e+10
571,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...",드라마,12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,10731.0,1196,124,-2.594584e+09
572,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",어드벤처,12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,4941.0,1413,379,5.124063e+10
573,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...",코미디,청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,247.0,147,25,8.006500e+06
574,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,13877.0,1830,61,4.366558e+10

In [368]:
df.loc[df['Target']<0,'Target'] = 0
df.loc[df['Target']>0,'Target'] = 1

In [370]:
df

,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz,movie_buzz_naver,Target
0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1274.0,1629,22,0.0
1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,3838.0,581,19,0.0
2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...",드라마,12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,494.0,943,30,1.0
3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",드라마,15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,162.0,111,6,0.0
4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",드라마,12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,800.0,335,5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...",드라마,12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,13693.0,1987,219,1.0
571,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...",드라마,12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,10731.0,1196,124,0.0
572,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",어드벤처,12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,4941.0,1413,379,1.0
573,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...",코미디,청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,247.0,147,25,1.0
574,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,13877.0,1830,61,1.0

In [371]:
df.reset_index(inplace=True)

## 배우

In [372]:
df['act_n'] = df['actors'].str.split(',')

In [373]:
for i in range(len(df['act_n'])):
    df.loc[i,'act_n'] = len(df['act_n'][i])

## 배급사 합치기

In [374]:
df_pro = pd.read_excel('KOBIS_개봉일람.xlsx')

In [375]:
df_pro = df_pro.drop(['순번', '감독', '제작사', '수입사', '개봉일', '영화유형', '영화형태', '국적',
       '전국', '전국.1', '전국.2', '서울', '서울.1', '장르', '등급', '영화구분'], axis=1)

In [376]:
df_pro.rename(columns={'영화명':'title'}, inplace=True)

In [377]:
df_pro = df_pro.drop_duplicates()

In [378]:
df = pd.merge(df,df_pro, how='left', on='title' )

In [379]:
df = df.drop_duplicates('title', keep='first')

## 배급사 전처리

In [380]:
df['배급사']=df['배급사'].astype('str')

In [381]:
df[df['배급사']=='nan']

,index,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz,movie_buzz_naver,Target,act_n,배급사
261,250,출국,노규엽,"이범수, 연우진, 박혁권, 박주미, 이현정, 김보민, 로버트 미카, 전무송, 남문철...",드라마,15세이상관람가,한국,274.0,81722.0,6.395218e+08,2018-11-14,6.500000e+09,150.0,427,16,0.0,54,nan
592,574,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,13877.0,1830,61,1.0,295,nan

In [382]:
df.at[261, '배급사'] = '스파일이엔트'

df.at[592, '배급사'] = 'CJ'

In [383]:
df[df['배급사']=='nan']

Empty DataFrame
Columns: [index, title, directors, actors, genre, 등급, 국적, screenCnt, audiAcc, salesAcc, 개봉일, 제작비, 네이버_기대지수, star_buzz, movie_buzz_naver, Target, act_n, 배급사]
Index: []

In [384]:
df['배급사'].value_counts()[:10] #160개

(주)씨제이이엔엠              78
(주)넥스트엔터테인먼트월드(NEW)    58
(주)쇼박스                 43
롯데쇼핑㈜롯데엔터테인먼트          39
CGV아트하우스               24
(주)리틀빅픽쳐스              23
메가박스중앙(주)플러스엠          21
롯데컬처웍스(주)롯데엔터테인먼트      21
㈜인디스토리                 16
(주)엣나인필름               11
Name: 배급사, dtype: int64

In [385]:
df['배급사'] = df['배급사'].str.replace('㈜','')

In [386]:
def get_dis(x) :
    if 'CJ' in x or 'CGV' in x or '씨제이' in x :
        return 'CJ'
    elif '쇼박스' in x :
        return '쇼박스'
    elif 'SK' in x or '에스케이' in x:
        return 'SK'
    elif '리틀빅픽' in x :
        return '리틀빅픽처스'
    elif '스폰지' in x :
        return '스폰지'
    elif '싸이더스' in x :
        return '싸이더스'
    elif '에이원' in x :
        return '에이원'
    elif '마인스' in x :
        return '마인스'
    elif '마운틴픽' in x :
        return '마운틴픽처스'
    elif '디씨드' in x :
        return '디씨드'
    elif '드림팩트' in x :
        return '드림팩트'
    elif '메가박스' in x :
        return '메가박스'
    elif '마운틴' in x :
        return '마운틴'
    elif '롯데' in x :
        return '롯데'
    elif 'KBS' in x :
        return 'KBS'
    elif '제이앤씨미디어그룹' in x :
        return '제이앤씨미디어그룹'
    elif '월트디즈니' in x :
        return '월트디즈니'
    elif '그린나래' in x :
        return '그린나래'
    elif 'KTG상상마당' in x or 'KT'in x :
        return 'KTG상상마당'
    elif 'TJOY' in x or 'T-JOY' in x:
        return 'TJOY'
    elif '디오시네마' in x :
        return '디오시네마'
    elif '스톰픽쳐스' in x :
        return '스톰픽쳐스'
    elif '디스테이션' in x :
        return '디스테이션'
    elif '더블앤조이' in x :
        return '디스테이션'
    elif 'CBS' in x :
        return 'CBS'
    elif 'CBS' in x :
        return 'CBS'
    elif '더쿱' in x :
        return '더쿱'
    elif '더콘텐츠온' in x :
        return '더콘텐츠온'
    elif '소니픽쳐스' in x :
        return '소니픽쳐스'
    elif '이수' in x :
        return '이수'
    elif '워너' in x :
        return '워너브라더스'
    elif '삼백' in x :
        return '삼백상회'
    elif '폭스' in x :
        return '폭스코리아'
    elif '엣나인' in x :
        return '엣나인필름'
    elif '티캐스트' in x :
        return '티캐스트'
    elif '콘텐츠판다' in x :
        return '콘텐츠판다'
    elif '판씨네마' in x :
        return '판씨네마'
    elif '키다리' in x :
        return '키다리이엔티'
    elif '스마일이' in x :
        return '스마일이엔티'
    elif '팝엔' in x :
        return '팝엔터테인먼트' 
    elif '오퍼스' in x :
        return '오퍼스픽쳐스' 
    elif '와이드' in x :
        return '와이드릴리즈' 
    elif '오드' in x :
        return '오드' 
    elif '조이앤' in x :
        return '조이앤시네마' 
    elif '박수' in x :
        return '박수엔터테인먼트' 
    elif '찬란' in x :
        return '찬란'
    elif '얼리' in x :
        return '얼리버드'
    elif '영화사빅' in x :
        return '영화사빅'
    elif '에이스' in x :
        return '에이스메이커'
    elif '퍼스트런' in x :
        return '퍼스트런'
    elif 'MM' in x or 'M&M' in x:
        return 'MM인터내셔널'
    elif '드림웨스트' in x :
        return '드림웨스트픽쳐스'
    elif '홀리가든' in x :
        return '홀리가든'
    elif 'R&R' in x :
        return 'RR프로덕션'
    elif '머스트' in x :
        return '머스트씨무비'
    elif '블룸즈' in x :
        return '블룸즈베리'
    elif '모쿠' in x :
        return '모쿠슈라'
    elif '니버설' in x :
        return '유니버설픽쳐스'
    elif '시네마달' in x :
        return '시네마달'
    else :
        return x

In [387]:
df['배급사'] = df['배급사'].apply(get_dis)

In [388]:
df['배급사'].nunique()

115

In [389]:
df['배급사'].value_counts()[:8]

CJ                     116
롯데                      61
(주)넥스트엔터테인먼트월드(NEW)     58
쇼박스                     45
리틀빅픽처스                  30
메가박스                    25
인디스토리                   16
엣나인필름                   13
Name: 배급사, dtype: int64

In [390]:
distributor_list = df['배급사'].value_counts()[:8]
def func(distributor):
    if distributor in distributor_list:
        return distributor
    else:
        return '기타'

In [391]:
df['배급사'] = df['배급사'].apply(lambda x : func(x))

In [392]:
tr_dist_rank =df.groupby('배급사').audiAcc.median().reset_index(name = 'dist_rank').sort_values(by = 'dist_rank',ascending=False)
tr_dist_rank

                   배급사  dist_rank
6                  쇼박스  2424330.0
0  (주)넥스트엔터테인먼트월드(NEW)  1535021.5
1                   CJ  1426615.0
3                   롯데  1110246.0
5                 메가박스   984265.0
4               리틀빅픽처스   112888.5
7                엣나인필름   103054.0
2                   기타     8680.0
8                인디스토리     2216.5

In [393]:
tr_dist_rank['dist_rank'] = [i + 1 for i in range(tr_dist_rank.shape[0])]
tr_dist_rank

                   배급사  dist_rank
6                  쇼박스          1
0  (주)넥스트엔터테인먼트월드(NEW)          2
1                   CJ          3
3                   롯데          4
5                 메가박스          5
4               리틀빅픽처스          6
7                엣나인필름          7
2                   기타          8
8                인디스토리          9

In [394]:
df = pd.merge(df, tr_dist_rank, how = 'left')

In [395]:
df

,index,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz,movie_buzz_naver,Target,act_n,배급사,dist_rank
0,0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1274.0,1629,22,0.0,121,롯데,4
1,1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,3838.0,581,19,0.0,50,기타,8
2,2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...",드라마,12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,494.0,943,30,1.0,96,(주)넥스트엔터테인먼트월드(NEW),2
3,3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",드라마,15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,162.0,111,6,0.0,12,기타,8
4,4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",드라마,12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,800.0,335,5,0.0,30,CJ,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,570,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...",드라마,12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,13693.0,1987,219,1.0,73,CJ,3
571,571,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...",드라마,12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,10731.0,1196,124,0.0,70,(주)넥스트엔터테인먼트월드(NEW),2
572,572,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",어드벤처,12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,4941.0,1413,379,1.0,148,롯데,4
573,573,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...",코미디,청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,247.0,147,25,1.0,32,엣나인필름,7
574,574,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,13877.0,1830,61,1.0,295,CJ,3

## 장르 전처리

In [396]:
df[df['genre']=='기타']

,index,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz,movie_buzz_naver,Target,act_n,배급사,dist_rank
185,185,인트로덕션,홍상수,"신석호, 박미소, 김영호, 기주봉, 예지원, 조소연, 서영화, 김민희, 조윤희, 하성국",기타,12세이상관람가,한국,91.0,6185.0,55369270.0,2021-05-27,50000000.0,284.0,142,7,1.0,10,기타,8

In [397]:
df.at[185, 'genre'] = '드라마'

In [398]:
df[df['genre']=='기타']

Empty DataFrame
Columns: [index, title, directors, actors, genre, 등급, 국적, screenCnt, audiAcc, salesAcc, 개봉일, 제작비, 네이버_기대지수, star_buzz, movie_buzz_naver, Target, act_n, 배급사, dist_rank]
Index: []

In [399]:
df.groupby('genre').audiAcc.median().sort_values(ascending=False)

genre
어드벤처      8252669.0
사극        2022527.0
범죄        1736428.0
전쟁        1717566.0
액션        1638437.0
판타지       1535154.5
스릴러        616481.0
코미디        507257.0
미스터리       332993.0
멜로/로맨스     316780.0
공포(호러)     288016.0
SF         102170.0
드라마         95542.0
가족           8327.0
다큐멘터리        8138.5
뮤지컬          1027.0
Name: audiAcc, dtype: float64

In [400]:
df['genre_rank'] = df.genre.map({'뮤지컬' : 16,'다큐멘터리' : 15, '가족' : 14, '드라마' : 13, 'SF' : 12, '공포(호러)' : 11, '멜로/로맨스' : 10, '미스터리' : 9, '코미디':8,'스릴러':7,'판타지':6,'액션':5,'전쟁':4,'범죄':3,'사극':2,'어드벤처':1})

In [401]:
df

,index,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz,movie_buzz_naver,Target,act_n,배급사,dist_rank,genre_rank
0,0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1274.0,1629,22,0.0,121,롯데,4,5
1,1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,3838.0,581,19,0.0,50,기타,8,13
2,2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...",드라마,12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,494.0,943,30,1.0,96,(주)넥스트엔터테인먼트월드(NEW),2,13
3,3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",드라마,15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,162.0,111,6,0.0,12,기타,8,13
4,4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",드라마,12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,800.0,335,5,0.0,30,CJ,3,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,570,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...",드라마,12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,13693.0,1987,219,1.0,73,CJ,3,13
571,571,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...",드라마,12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,10731.0,1196,124,0.0,70,(주)넥스트엔터테인먼트월드(NEW),2,13
572,572,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",어드벤처,12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,4941.0,1413,379,1.0,148,롯데,4,1
573,573,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...",코미디,청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,247.0,147,25,1.0,32,엣나인필름,7,8
574,574,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,13877.0,1830,61,1.0,295,CJ,3,13

## 등급 원핫(빼는게 좋은듯)

In [402]:
#df = pd.get_dummies(columns = ['등급'], data = df)

## 감독 전처리

In [403]:
df['directors'].nunique()

427

In [404]:
df['directors'].value_counts()[:70]

이준익    6
이한     4
박훈정    4
이병헌    4
김홍선    4
      ..
노덕     2
김종관    2
이원태    2
권오광    2
조규장    2
Name: directors, Length: 70, dtype: int64

In [405]:
director_list = df['directors'].value_counts()[:100]
def cont_func(director):
    if director in director_list:
        return director
    else:
        return '기타'

In [406]:
df['directors'] = df['directors'].apply(lambda x : cont_func(x))

In [407]:
tr_direct_rank = df.groupby('directors').audiAcc.mean().reset_index(name = 'direct_rank').sort_values(by = 'direct_rank', ascending=False)
tr_direct_rank

   directors   direct_rank
90       최동훈  1.284452e+07
26       김한민  1.254033e+07
41       봉준호  9.613966e+06
15       김용화  9.330964e+06
61       이석훈  8.203116e+06
..       ...           ...
75       이혁종  3.986000e+03
34       박석영  2.908000e+03
3        고봉수  2.345250e+03
38       백승기  2.281000e+03
84       정형석  9.650000e+02

[101 rows x 2 columns]

In [408]:
tr_direct_rank[:70]

   directors   direct_rank
90       최동훈  1.284452e+07
26       김한민  1.254033e+07
41       봉준호  9.613966e+06
15       김용화  9.330964e+06
61       이석훈  8.203116e+06
..       ...           ...
72       이철하  8.399023e+05
6         기타  7.903726e+05
83       정지우  7.794115e+05
11    김선, 김곡  7.134430e+05
14       김용완  6.491440e+05

[70 rows x 2 columns]

In [409]:
tr_direct_rank['direct_rank'] = [i + 1 for i in range(tr_direct_rank.shape[0])]
tr_direct_rank[tr_direct_rank['directors'] == '기타']

  directors  direct_rank
6        기타           67

In [410]:
df= pd.merge(df, tr_direct_rank, how = 'left')
df

,index,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,...,제작비,네이버_기대지수,star_buzz,movie_buzz_naver,Target,act_n,배급사,dist_rank,genre_rank,direct_rank
0,0,물괴,기타,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,한국,1183.0,723414.0,6.104165e+09,...,1.250000e+10,1274.0,1629,22,0.0,121,롯데,4,5,67
1,1,싱글라이더,기타,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,한국,576.0,351276.0,2.685519e+09,...,4.500000e+09,3838.0,581,19,0.0,50,기타,8,13,67
2,2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...",드라마,12세이상관람가,한국,696.0,336822.0,2.521026e+09,...,2.500000e+09,494.0,943,30,1.0,96,(주)넥스트엔터테인먼트월드(NEW),2,13,41
3,3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",드라마,15세이상관람가,한국,54.0,7443.0,6.032025e+07,...,1.000000e+08,162.0,111,6,0.0,12,기타,8,13,94
4,4,영주,기타,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",드라마,12세이상관람가,한국,106.0,24823.0,1.927298e+08,...,2.200000e+08,800.0,335,5,0.0,30,CJ,3,13,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,570,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...",드라마,12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,...,1.000000e+10,13693.0,1987,219,1.0,73,CJ,3,13,5
571,571,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...",드라마,12세이상관람가,한국,621.0,955175.0,7.405416e+09,...,1.000000e+10,10731.0,1196,124,0.0,70,(주)넥스트엔터테인먼트월드(NEW),2,13,72
572,572,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",어드벤처,12세이상관람가,한국,838.0,8646758.0,6.624063e+10,...,1.500000e+10,4941.0,1413,379,1.0,148,롯데,4,1,5
573,573,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...",코미디,청소년관람불가,한국,14.0,1660.0,1.300650e+07,...,5.000000e+06,247.0,147,25,1.0,32,엣나인필름,7,8,100
574,574,1987,기타,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,...,1.450000e+10,13877.0,1830,61,1.0,295,CJ,3,13,67

In [411]:
df

,index,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,...,제작비,네이버_기대지수,star_buzz,movie_buzz_naver,Target,act_n,배급사,dist_rank,genre_rank,direct_rank
0,0,물괴,기타,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,한국,1183.0,723414.0,6.104165e+09,...,1.250000e+10,1274.0,1629,22,0.0,121,롯데,4,5,67
1,1,싱글라이더,기타,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,한국,576.0,351276.0,2.685519e+09,...,4.500000e+09,3838.0,581,19,0.0,50,기타,8,13,67
2,2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...",드라마,12세이상관람가,한국,696.0,336822.0,2.521026e+09,...,2.500000e+09,494.0,943,30,1.0,96,(주)넥스트엔터테인먼트월드(NEW),2,13,41
3,3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",드라마,15세이상관람가,한국,54.0,7443.0,6.032025e+07,...,1.000000e+08,162.0,111,6,0.0,12,기타,8,13,94
4,4,영주,기타,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",드라마,12세이상관람가,한국,106.0,24823.0,1.927298e+08,...,2.200000e+08,800.0,335,5,0.0,30,CJ,3,13,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,570,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...",드라마,12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,...,1.000000e+10,13693.0,1987,219,1.0,73,CJ,3,13,5
571,571,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...",드라마,12세이상관람가,한국,621.0,955175.0,7.405416e+09,...,1.000000e+10,10731.0,1196,124,0.0,70,(주)넥스트엔터테인먼트월드(NEW),2,13,72
572,572,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",어드벤처,12세이상관람가,한국,838.0,8646758.0,6.624063e+10,...,1.500000e+10,4941.0,1413,379,1.0,148,롯데,4,1,5
573,573,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...",코미디,청소년관람불가,한국,14.0,1660.0,1.300650e+07,...,5.000000e+06,247.0,147,25,1.0,32,엣나인필름,7,8,100
574,574,1987,기타,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,...,1.450000e+10,13877.0,1830,61,1.0,295,CJ,3,13,67

In [412]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 575 entries, 0 to 574
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             575 non-null    int64
 1   title             575 non-null    object
 2   directors         575 non-null    object
 3   actors            575 non-null    object
 4   genre             575 non-null    object
 5   등급                575 non-null    object
 6   국적                575 non-null    object
 7   screenCnt         575 non-null    float64
 8   audiAcc           575 non-null    float64
 9   salesAcc          575 non-null    float64
 10  개봉일               575 non-null    object
 11  제작비               575 non-null    float64
 12  네이버_기대지수          575 non-null    float64
 13  star_buzz         575 non-null    int64
 14  movie_buzz_naver  575 non-null    int64
 15  Target            575 non-null    float64
 16  act_n             575 non-null    object
 17  배급사               575 non-null    object
 18  dist_rank         575 non-null    int64
 19  genre_rank        575 non-null    int64
 20  direct_rank       575 non-null    int64
dtypes: float64(6), int64(6), object(9)
memory usage: 98.8+ KB

In [413]:
#df_fin = df.drop(['title','actors','배급사','genre','국적','directors','개봉일','audiAcc','salesAcc','등급','index','제작비'], axis=1)

In [414]:
df_fin = df.drop(['screenCnt','title','actors','배급사','genre','국적','directors','개봉일','audiAcc','salesAcc','index','제작비','등급'], axis=1)

In [415]:
df_fin['act_n'] = df_fin['act_n'].astype(int)

In [416]:
df_fin['Target']=df_fin['Target'].astype(int)

In [417]:
df_fin.corr()

,네이버_기대지수,star_buzz,movie_buzz_naver,Target,act_n,dist_rank,genre_rank,direct_rank
네이버_기대지수,1.000000,0.456861,0.305710,0.223013,0.356361,-0.262325,-0.159123,-0.239277
star_buzz,0.456861,1.000000,0.576394,0.436474,0.501961,-0.576039,-0.390730,-0.599283
movie_buzz_naver,0.305710,0.576394,1.000000,0.356404,0.300912,-0.402147,-0.221699,-0.426734
Target,0.223013,0.436474,0.356404,1.000000,0.182100,-0.399118,-0.219618,-0.313062
act_n,0.356361,0.501961,0.300912,0.182100,1.000000,-0.334343,-0.323091,-0.372314
dist_rank,-0.262325,-0.576039,-0.402147,-0.399118,-0.334343,1.000000,0.354313,0.392187
genre_rank,-0.159123,-0.390730,-0.221699,-0.219618,-0.323091,0.354313,1.000000,0.316747
direct_rank,-0.239277,-0.599283,-0.426734,-0.313062,-0.372314,0.392187,0.316747,1.000000

In [418]:
df_fin.to_csv('전처리_naver_movie_buzz.csv', index=False)

In [252]:
df_fin['Target'].value_counts()

1    302
0    274
Name: Target, dtype: Int64

In [177]:
#df_fin['act_n'] = df_fin['act_n'].astype('int')
#df_fin['act_n'] = np.log1p(df_fin['act_n']) #로그변환
#df_fin['screenCnt'] = df_fin['screenCnt'].astype('int')
#df_fin['screenCnt'] = np.log1p(df_fin['screenCnt']) #로그변환
#df_fin['dist_rank'] = df_fin['dist_rank'].astype('int')
#df_fin['dist_rank'] = np.log1p(df_fin['dist_rank']) #로그변환
#df_fin['genre_rank'] = df_fin['genre_rank'].astype('int')
#df_fin['genre_rank'] = np.log1p(df_fin['genre_rank']) #로그변환
#df_fin['direct_rank'] = df_fin['direct_rank'].astype('int')
#df_fin['direct_rank'] = np.log1p(df_fin['direct_rank']) #로그변환
#df_fin['star_buzz'] = df_fin['star_buzz'].astype('int')
#df_fin['star_buzz'] = np.log1p(df_fin['star_buzz']) #로그변환

# 모델링

## train_test_split

In [419]:
y = df_fin['Target']
x = df_fin.drop('Target', axis=1)

In [420]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=100)

In [445]:
# 정규화
from sklearn.preprocessing import StandardScaler
 
sc = StandardScaler()
sc.fit(X_train)
 
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

## pycaret

In [421]:
from pycaret.classification import *
from sklearn.model_selection import train_test_split
train, test = train_test_split(df_fin, test_size=0.3, random_state=100)

In [422]:
setup_clf = setup(data = train, target= 'Target', fold_shuffle=True)

In [423]:
top10 = compare_models(sort='Accuracy', n_select=10, fold=5)

In [424]:
tuned_top10 = [tune_model(i, fold=5) for i in top10]

In [425]:
blender_top10 = blend_models(estimator_list=tuned_top10)

In [426]:
final_model = finalize_model(blender_top10)
prediction = predict_model(final_model, data=test)

In [427]:
prediction['Target'] = prediction['Target'].astype(int)

In [428]:
prediction['Label'] = prediction['Label'].astype(float)

In [429]:
prediction['Label'] = prediction['Label'].astype(int)

In [430]:
from pycaret.utils import check_metric
check_metric(prediction['Target'], prediction['Label'], metric = 'Accuracy') #0.68 naver movie buzz 미포함 # 0.72 네이버무비버즈 포함

0.7225

스크린수 포함 최고 정확도 0.73(무비버즈 미포함)
스크린수 미포함 최고 정확도 0.72(무비버즈 미포함)

## logistic regression

In [162]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [447]:
model = LogisticRegression(penalty = 'l2')
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_pred, y_test)

0.7225433526011561

## gradient tree boosting

In [182]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split

In [448]:
gbc = GradientBoostingClassifier(random_state=100, max_depth=3, learning_rate=0.01) 
gbc.fit(X_train, y_train)
score_train = gbc.score(X_train, y_train)
score_test = gbc.score(X_test, y_test)
gbc_roc_score = roc_auc_score(y_test, gbc.predict(X_test), average='macro')
print('ROC AUC: {0:.4f}'.format(gbc_roc_score))
print('정확도{:.4f}'.format(accuracy_score(y_pred, y_test)))

ROC AUC: 0.7427
정확도0.7225

## linear discriminant

In [184]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.preprocessing import StandardScaler

In [450]:
lda = LinearDiscriminantAnalysis(n_components=1)
lda.fit(X_train, y_train)
#lda.transform(X_train)
y_pred = lda.predict(X_test)
accuracy_score(y_pred, y_test)

0.6936416184971098

## random forest

In [186]:
from sklearn.ensemble import RandomForestClassifier

In [452]:
rfc = RandomForestClassifier(random_state=100)
rfc.fit(X_train, y_train)
y_pred = rfc.predict(X_test)
print('Model accuracy score with 10 decision-trees : {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score with 10 decision-trees : 0.7283

## catboost classifier

In [188]:
from catboost import CatBoostClassifier

In [435]:
clf = CatBoostClassifier(
    iterations=200,
    random_seed = 100,
    learning_rate=0.2, 
    loss_function='Logloss', #CrossEntropy,
    custom_metric = ['Logloss','AUC'],
    early_stopping_rounds = 20,
    use_best_model = True
)

In [332]:
params = {'iterations':200,
          'random_seed':63,
          'learning_rate':0.02,
          'loss_function':'Logloss', ## 사실 Default 값은 Logloss 이다. 만약 CatBoostRegressor 였으면, RMSE 이다.
          'custom_metric':['Logloss','AUC'],##, '
          'early_stopping_rounds':20,
          'use_best_model': True,
          'task_type':"GPU",
          'bagging_temperature':1,
          'verbose':False}

In [333]:
#cat_features = list(range(0, X_train.shape[1]))
#print(cat_features)

In [436]:
clf.fit(X_train, y_train, 
        #cat_features=cat_features, 
        eval_set=(X_test, y_test), 
        verbose=False
)

print('CatBoost model is fitted: ' + str(clf.is_fitted()))
print('CatBoost model parameters:')
print(clf.get_params())

CatBoost model is fitted: True
CatBoost model parameters:
{'iterations': 200, 'learning_rate': 0.2, 'loss_function': 'Logloss', 'random_seed': 100, 'use_best_model': True, 'custom_metric': ['Logloss', 'AUC'], 'early_stopping_rounds': 20}

In [437]:
y_pred = clf.predict(X_test)
print('정확도 : {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

정확도 : 0.7225

## 보팅

In [336]:
from sklearn.ensemble import VotingClassifier

In [438]:
vo_clf = VotingClassifier(estimators=[('RF',rfc),('CAT',clf),('GTB',gbc),('LD',lda)], voting='soft')

In [439]:
vo_clf.fit(X_train, y_train)
pred = vo_clf.predict(X_test)
vo_roc_score = roc_auc_score(y_test, pred, average='macro')
print('ROC AUC: {0:.4f}'.format(vo_roc_score))
print("Voting 분류기 정확도", accuracy_score(y_test, pred))

RuntimeError: Cannot clone object <catboost.core.CatBoostClassifier object at 0x0000020D0DD6D940>, as the constructor either does not set or modifies parameter custom_metric

In [440]:
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score
# XGBClassifier 객체 생성
xgb_clf = XGBClassifier(n_estimators=100, random_state=156)

# 학습 : 성능 평가 지표를 auc로 설정하고 학습 수행. 
xgb_clf.fit(X_train, y_train, early_stopping_rounds=30,
            # 원래 검증 셋은 test 말고 다른 데이터 셋으로 해야하지만 여기서는 그냥 test 셋으로 진행함
            eval_metric="auc", eval_set=[(X_train, y_train), (X_test, y_test)]) #학습, 검증
#왼쪽이 학습하면서 정확도를 알려줌, 오른쪽은 학습한것에 대한 검증한것

[0]	validation_0-auc:0.89362	validation_1-auc:0.79932
[1]	validation_0-auc:0.92017	validation_1-auc:0.79932
[2]	validation_0-auc:0.94156	validation_1-auc:0.79449
[3]	validation_0-auc:0.95524	validation_1-auc:0.79231
[4]	validation_0-auc:0.96964	validation_1-auc:0.78599
[5]	validation_0-auc:0.97538	validation_1-auc:0.78592
[6]	validation_0-auc:0.98219	validation_1-auc:0.78224
[7]	validation_0-auc:0.98523	validation_1-auc:0.78660
[8]	validation_0-auc:0.98708	validation_1-auc:0.78211
[9]	validation_0-auc:0.98982	validation_1-auc:0.78231
[10]	validation_0-auc:0.99173	validation_1-auc:0.77769
[11]	validation_0-auc:0.99198	validation_1-auc:0.77755
[12]	validation_0-auc:0.99329	validation_1-auc:0.78041
[13]	validation_0-auc:0.99423	validation_1-auc:0.78082
[14]	validation_0-auc:0.99559	validation_1-auc:0.77864
[15]	validation_0-auc:0.99616	validation_1-auc:0.77878
[16]	validation_0-auc:0.99661	validation_1-auc:0.78014
[17]	validation_0-auc:0.99713	validation_1-auc:0.78082
[18]	validation_0-auc:0.99743	validation_1-auc:0.78163
[19]	validation_0-auc:0.99837	validation_1-auc:0.78054
[20]	validation_0-auc:0.99899	validation_1-auc:0.78354
[21]	validation_0-auc:0.99913	validation_1-auc:0.78340
[22]	validation_0-auc:0.99926	validation_1-auc:0.78367
[23]	validation_0-auc:0.99948	validation_1-auc:0.78326
[24]	validation_0-auc:0.99953	validation_1-auc:0.78503
[25]	validation_0-auc:0.99963	validation_1-auc:0.78735
[26]	validation_0-auc:0.99968	validation_1-auc:0.78408
[27]	validation_0-auc:0.99973	validation_1-auc:0.78000
[28]	validation_0-auc:0.99980	validation_1-auc:0.78095
[29]	validation_0-auc:0.99980	validation_1-auc:0.77918
[30]	validation_0-auc:0.99983	validation_1-auc:0.77905

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=4,
              num_parallel_tree=1, objective='binary:logistic',
              predictor='auto', random_state=156, reg_alpha=0, reg_lambda=1,
              scale_pos_weight=1, subsample=1, tree_method='exact',
              use_label_encoder=True, validate_parameters=1, verbosity=None)

In [441]:
xgb_clf.predict_proba(X_test)[:,1]

array([0.46434635, 0.46434635, 0.6239841 , 0.4255575 , 0.41338244,
       0.6239841 , 0.6239841 , 0.4833395 , 0.6239841 , 0.6239841 ,
       0.46434635, 0.3924815 , 0.6239841 , 0.3924815 , 0.3924815 ,
       0.6239841 , 0.6239841 , 0.6239841 , 0.6239841 , 0.4255575 ,
       0.3924815 , 0.46434635, 0.5677623 , 0.60348326, 0.5677623 ,
       0.5744425 , 0.3924815 , 0.6106393 , 0.51666045, 0.3924815 ,
       0.6106393 , 0.5       , 0.6239841 , 0.3924815 , 0.4833395 ,
       0.5848844 , 0.3924815 , 0.4833395 , 0.3924815 , 0.6239841 ,
       0.46434635, 0.41095954, 0.5848844 , 0.5744425 , 0.529964  ,
       0.3924815 , 0.47003597, 0.46434635, 0.529964  , 0.41095954,
       0.6106393 , 0.4833395 , 0.6239841 , 0.3924815 , 0.3924815 ,
       0.60348326, 0.60348326, 0.46434635, 0.3924815 , 0.6106393 ,
       0.6239841 , 0.3924815 , 0.54081804, 0.5       , 0.3924815 ,
       0.3924815 , 0.6127351 , 0.3924815 , 0.41742977, 0.6239841 ,
       0.3924815 , 0.3924815 , 0.6239841 , 0.51666045, 0.3924815 ,
       0.4833395 , 0.6239841 , 0.6239841 , 0.5848844 , 0.6106393 ,
       0.60348326, 0.51666045, 0.6239841 , 0.3924815 , 0.4833395 ,
       0.3924815 , 0.5848844 , 0.6106393 , 0.3924815 , 0.3924815 ,
       0.60348326, 0.41095954, 0.3924815 , 0.3924815 , 0.6239841 ,
       0.4255575 , 0.6239841 , 0.46434635, 0.3924815 , 0.6239841 ,
       0.6239841 , 0.3924815 , 0.4255575 , 0.51666045, 0.6239841 ,
       0.60348326, 0.6127351 , 0.3924815 , 0.3924815 , 0.3924815 ,
       0.3924815 , 0.529964  , 0.60348326, 0.6239841 , 0.41338244,
       0.6239841 , 0.3924815 , 0.48636705, 0.6239841 , 0.4833395 ,
       0.6239841 , 0.3924815 , 0.46434635, 0.6106393 , 0.3924815 ,
       0.60348326, 0.6239841 , 0.3924815 , 0.48636705, 0.3924815 ,
       0.3924815 , 0.5       , 0.3924815 , 0.6127351 , 0.46434635,
       0.3924815 , 0.4833395 , 0.6239841 , 0.3924815 , 0.46434635,
       0.6239841 , 0.3924815 , 0.3924815 , 0.47003597, 0.3924815 ,
       0.46434635, 0.6239841 , 0.6239841 , 0.4833395 , 0.6239841 ,
       0.6239841 , 0.6239841 , 0.529964  , 0.6239841 , 0.41338244,
       0.3924815 , 0.3924815 , 0.46434635, 0.6239841 , 0.3924815 ,
       0.46257016, 0.60348326, 0.41095954, 0.3924815 , 0.6239841 ,
       0.6239841 , 0.3924815 , 0.6239841 , 0.3924815 , 0.6239841 ,
       0.41095954, 0.6239841 , 0.4833395 ], dtype=float32)

In [442]:
xgb_clf.predict(X_test)

array([0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0])

In [443]:
xgb_roc_score = roc_auc_score(y_test, xgb_clf.predict(X_test))
print('ROC AUC: {0:.4f}'.format(xgb_roc_score))

ROC AUC: 0.7265

In [444]:
accuracy_score(y_test, xgb_clf.predict(X_test))

0.7167630057803468

## DNN

In [344]:
#-*- coding: utf-8 -*-
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.layers import Dropout, Dense
from keras.callbacks import ModelCheckpoint,EarlyStopping
import tensorflow as tf
import os
from tensorflow.keras.layers import *
from tensorflow.keras.models import *
from tensorflow.keras.optimizers import *
from tensorflow.keras.callbacks import *

In [530]:
# 딥러닝 모델 선언
model = Sequential()
model.add(Dense(256, input_dim=7, activation='elu'))  # 입력층
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(128, activation='elu'))      # 은닉층1 
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(64, activation='elu'))      # 은닉층1
model.add(Dense(32, activation='elu')) 
model.add(Dense(1))# 출력층
# 선형 회귀는 마지막에 참과 거짓을 구분할 필요가 없음. 출력층에 활성화 함수를 지정할 필요도 없음

model.compile(loss='binary_crossentropy',
              optimizer='rmsprop', 
              metrics=['acc'])

In [531]:
# 모델 저장 폴더 만들기
MODEL_DIR = './model/'
if not os.path.exists(MODEL_DIR):
    os.mkdir(MODEL_DIR)

modelpath = "./model/{epoch:02d}-{val_loss:.4f}.hdf5"

# 모델 업데이트 및 저장
checkpointer = ModelCheckpoint(filepath=modelpath, monitor='val_acc', verbose=0, save_best_only=True, mode='max')
# 콜백함수
reduce_lr = ReduceLROnPlateau(monitor='val_acc', factor=0.2, patience=40, mode='max')

# 학습 자동 중단 설정
early_stopping_callback = EarlyStopping(monitor='val_acc', patience=50, mode='max')

In [532]:
history = model.fit(X_train, y_train, validation_split=0.3, epochs=1000, batch_size=128, verbose=1, callbacks=[early_stopping_callback,checkpointer,reduce_lr])
print("\nacc: %.4f" % (model.evaluate(X_train, y_train)[1]))

Epoch 1/1000
9/9 [==============================] - 2s 66ms/step - loss: 4.6546 - acc: 0.6263 - val_loss: 4.6948 - val_acc: 0.6446 - lr: 0.0010
Epoch 2/1000
9/9 [==============================] - 0s 6ms/step - loss: 3.6009 - acc: 0.7046 - val_loss: 5.1859 - val_acc: 0.5785 - lr: 0.0010
Epoch 3/1000
9/9 [==============================] - 0s 6ms/step - loss: 3.9197 - acc: 0.7117 - val_loss: 6.2390 - val_acc: 0.5537 - lr: 0.0010
Epoch 4/1000
9/9 [==============================] - 0s 6ms/step - loss: 3.5234 - acc: 0.7331 - val_loss: 6.2650 - val_acc: 0.5620 - lr: 0.0010
Epoch 5/1000
9/9 [==============================] - 0s 6ms/step - loss: 3.4860 - acc: 0.7117 - val_loss: 5.3661 - val_acc: 0.5702 - lr: 0.0010
Epoch 6/1000
9/9 [==============================] - 0s 6ms/step - loss: 3.8262 - acc: 0.6904 - val_loss: 5.5994 - val_acc: 0.5537 - lr: 0.0010
Epoch 7/1000
9/9 [==============================] - 0s 6ms/step - loss: 3.7414 - acc: 0.6512 - val_loss: 5.2770 - val_acc: 0.5702 - lr: 0.0010
Epoch 8/1000
9/9 [==============================] - 0s 10ms/step - loss: 3.2429 - acc: 0.6833 - val_loss: 4.4234 - val_acc: 0.5702 - lr: 0.0010
Epoch 9/1000
9/9 [==============================] - 0s 6ms/step - loss: 3.2002 - acc: 0.6940 - val_loss: 4.5105 - val_acc: 0.5785 - lr: 0.0010
Epoch 10/1000
9/9 [==============================] - 0s 6ms/step - loss: 2.8614 - acc: 0.6975 - val_loss: 4.3252 - val_acc: 0.5702 - lr: 0.0010
Epoch 11/1000
9/9 [==============================] - 0s 6ms/step - loss: 3.0378 - acc: 0.6584 - val_loss: 4.5008 - val_acc: 0.5785 - lr: 0.0010
Epoch 12/1000
9/9 [==============================] - 0s 9ms/step - loss: 2.7754 - acc: 0.6904 - val_loss: 3.8419 - val_acc: 0.6777 - lr: 0.0010
Epoch 13/1000
9/9 [==============================] - 0s 8ms/step - loss: 2.8666 - acc: 0.6797 - val_loss: 4.2937 - val_acc: 0.6033 - lr: 0.0010
Epoch 14/1000
9/9 [==============================] - 0s 9ms/step - loss: 3.4263 - acc: 0.7082 - val_loss: 3.4336 - val_acc: 0.7273 - lr: 0.0010
Epoch 15/1000
9/9 [==============================] - 0s 6ms/step - loss: 3.4883 - acc: 0.7224 - val_loss: 4.1095 - val_acc: 0.7107 - lr: 0.0010
Epoch 16/1000
9/9 [==============================] - 0s 6ms/step - loss: 3.6391 - acc: 0.7117 - val_loss: 3.5303 - val_acc: 0.7025 - lr: 0.0010
Epoch 17/1000
9/9 [==============================] - 0s 5ms/step - loss: 3.4286 - acc: 0.7082 - val_loss: 3.5143 - val_acc: 0.7273 - lr: 0.0010
Epoch 18/1000
9/9 [==============================] - 0s 11ms/step - loss: 3.4906 - acc: 0.7082 - val_loss: 3.7465 - val_acc: 0.7273 - lr: 0.0010
Epoch 19/1000
9/9 [==============================] - 0s 7ms/step - loss: 3.1377 - acc: 0.7331 - val_loss: 3.5412 - val_acc: 0.6942 - lr: 0.0010
Epoch 20/1000
9/9 [==============================] - 0s 7ms/step - loss: 3.1684 - acc: 0.7189 - val_loss: 3.3586 - val_acc: 0.7025 - lr: 0.0010
Epoch 21/1000
9/9 [==============================] - 0s 6ms/step - loss: 3.5995 - acc: 0.6975 - val_loss: 3.4802 - val_acc: 0.5950 - lr: 0.0010
Epoch 22/1000
9/9 [==============================] - 0s 6ms/step - loss: 2.4763 - acc: 0.7224 - val_loss: 3.2237 - val_acc: 0.7190 - lr: 0.0010
Epoch 23/1000
9/9 [==============================] - 0s 6ms/step - loss: 3.0411 - acc: 0.6690 - val_loss: 3.5079 - val_acc: 0.7190 - lr: 0.0010
Epoch 24/1000
9/9 [==============================] - 0s 6ms/step - loss: 2.7488 - acc: 0.7082 - val_loss: 2.9822 - val_acc: 0.6612 - lr: 0.0010
Epoch 25/1000
9/9 [==============================] - 0s 7ms/step - loss: 2.1863 - acc: 0.6904 - val_loss: 2.9494 - val_acc: 0.6860 - lr: 0.0010
Epoch 26/1000
9/9 [==============================] - 0s 7ms/step - loss: 2.2988 - acc: 0.6655 - val_loss: 3.7240 - val_acc: 0.6942 - lr: 0.0010
Epoch 27/1000
9/9 [==============================] - 0s 6ms/step - loss: 2.7164 - acc: 0.6726 - val_loss: 3.0522 - val_acc: 0.7025 - lr: 0.0010
Epoch 28/1000
9/9 [==============================] - 0s 5ms/step - loss: 2.6036 - acc: 0.6797 - val_loss: 2.9621 - val_acc: 0.6694 - lr: 0.0010
Epoch 29/1000
9/9 [==============================] - 0s 5ms/step - loss: 2.4401 - acc: 0.6940 - val_loss: 2.1708 - val_acc: 0.6446 - lr: 0.0010
Epoch 30/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.7771 - acc: 0.7331 - val_loss: 4.7477 - val_acc: 0.5620 - lr: 0.0010
Epoch 31/1000
9/9 [==============================] - 0s 6ms/step - loss: 2.2404 - acc: 0.6619 - val_loss: 2.1884 - val_acc: 0.6777 - lr: 0.0010
Epoch 32/1000
9/9 [==============================] - 0s 8ms/step - loss: 1.8092 - acc: 0.6797 - val_loss: 2.3402 - val_acc: 0.7355 - lr: 0.0010
Epoch 33/1000
9/9 [==============================] - 0s 7ms/step - loss: 1.9925 - acc: 0.7224 - val_loss: 2.6530 - val_acc: 0.7273 - lr: 0.0010
Epoch 34/1000
9/9 [==============================] - 0s 7ms/step - loss: 1.9264 - acc: 0.7260 - val_loss: 2.4618 - val_acc: 0.7107 - lr: 0.0010
Epoch 35/1000
9/9 [==============================] - 0s 7ms/step - loss: 1.8044 - acc: 0.6762 - val_loss: 1.9293 - val_acc: 0.6281 - lr: 0.0010
Epoch 36/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.6069 - acc: 0.6833 - val_loss: 2.1799 - val_acc: 0.6364 - lr: 0.0010
Epoch 37/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.8510 - acc: 0.6833 - val_loss: 2.0214 - val_acc: 0.7107 - lr: 0.0010
Epoch 38/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.7691 - acc: 0.6548 - val_loss: 2.1373 - val_acc: 0.7025 - lr: 0.0010
Epoch 39/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.7212 - acc: 0.7224 - val_loss: 1.6117 - val_acc: 0.6116 - lr: 0.0010
Epoch 40/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.2077 - acc: 0.6975 - val_loss: 2.0213 - val_acc: 0.7025 - lr: 0.0010
Epoch 41/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.3947 - acc: 0.6762 - val_loss: 1.5731 - val_acc: 0.6612 - lr: 0.0010
Epoch 42/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.7869 - acc: 0.6548 - val_loss: 2.2416 - val_acc: 0.7273 - lr: 0.0010
Epoch 43/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.6101 - acc: 0.6762 - val_loss: 1.6012 - val_acc: 0.6777 - lr: 0.0010
Epoch 44/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.5380 - acc: 0.6762 - val_loss: 1.8893 - val_acc: 0.7273 - lr: 0.0010
Epoch 45/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.3722 - acc: 0.7331 - val_loss: 1.7972 - val_acc: 0.7355 - lr: 0.0010
Epoch 46/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.3165 - acc: 0.6762 - val_loss: 1.7914 - val_acc: 0.7355 - lr: 0.0010
Epoch 47/1000
9/9 [==============================] - 0s 11ms/step - loss: 1.5965 - acc: 0.7117 - val_loss: 1.6459 - val_acc: 0.7438 - lr: 0.0010
Epoch 48/1000
9/9 [==============================] - 0s 7ms/step - loss: 1.2609 - acc: 0.6940 - val_loss: 1.8186 - val_acc: 0.6860 - lr: 0.0010
Epoch 49/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.2769 - acc: 0.6726 - val_loss: 1.5685 - val_acc: 0.6612 - lr: 0.0010
Epoch 50/1000
9/9 [==============================] - 0s 9ms/step - loss: 1.1146 - acc: 0.6940 - val_loss: 1.7902 - val_acc: 0.6860 - lr: 0.0010
Epoch 51/1000
9/9 [==============================] - 0s 7ms/step - loss: 1.5186 - acc: 0.7046 - val_loss: 1.9346 - val_acc: 0.6942 - lr: 0.0010
Epoch 52/1000
9/9 [==============================] - 0s 7ms/step - loss: 1.5440 - acc: 0.6690 - val_loss: 1.6560 - val_acc: 0.7107 - lr: 0.0010
Epoch 53/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.4489 - acc: 0.6940 - val_loss: 1.9229 - val_acc: 0.6694 - lr: 0.0010
Epoch 54/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.4095 - acc: 0.7082 - val_loss: 1.6462 - val_acc: 0.7190 - lr: 0.0010
Epoch 55/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.1021 - acc: 0.7402 - val_loss: 1.7668 - val_acc: 0.6694 - lr: 0.0010
Epoch 56/1000
9/9 [==============================] - 0s 7ms/step - loss: 1.5146 - acc: 0.6441 - val_loss: 1.7087 - val_acc: 0.6942 - lr: 0.0010
Epoch 57/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.8446 - acc: 0.6797 - val_loss: 1.7254 - val_acc: 0.6281 - lr: 0.0010

Epoch 58/1000
9/9 [==============================] - 0s 8ms/step - loss: 1.5132 - acc: 0.7367 - val_loss: 2.3390 - val_acc: 0.7355 - lr: 0.0010
Epoch 59/1000
9/9 [==============================] - 0s 7ms/step - loss: 1.5117 - acc: 0.6940 - val_loss: 1.7786 - val_acc: 0.7355 - lr: 0.0010
Epoch 60/1000
9/9 [==============================] - 0s 7ms/step - loss: 1.4550 - acc: 0.6868 - val_loss: 1.6601 - val_acc: 0.7025 - lr: 0.0010
Epoch 61/1000
9/9 [==============================] - 0s 7ms/step - loss: 1.5420 - acc: 0.7189 - val_loss: 2.2543 - val_acc: 0.7107 - lr: 0.0010
Epoch 62/1000
9/9 [==============================] - 0s 7ms/step - loss: 1.3107 - acc: 0.7367 - val_loss: 1.9139 - val_acc: 0.7273 - lr: 0.0010
Epoch 63/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.0717 - acc: 0.7260 - val_loss: 1.8857 - val_acc: 0.7107 - lr: 0.0010
Epoch 64/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.3668 - acc: 0.6940 - val_loss: 1.8994 - val_acc: 0.7190 - lr: 0.0010
Epoch 65/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.2303 - acc: 0.7082 - val_loss: 1.7804 - val_acc: 0.6942 - lr: 0.0010
Epoch 66/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.6212 - acc: 0.6940 - val_loss: 1.7904 - val_acc: 0.6860 - lr: 0.0010
Epoch 67/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.2220 - acc: 0.6868 - val_loss: 2.1050 - val_acc: 0.7025 - lr: 0.0010
Epoch 68/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.4764 - acc: 0.7117 - val_loss: 2.2912 - val_acc: 0.6281 - lr: 0.0010
Epoch 69/1000
9/9 [==============================] - 0s 7ms/step - loss: 1.8903 - acc: 0.7189 - val_loss: 2.3444 - val_acc: 0.7273 - lr: 0.0010
Epoch 70/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.5550 - acc: 0.7367 - val_loss: 2.2291 - val_acc: 0.7273 - lr: 0.0010
Epoch 71/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.3388 - acc: 0.7331 - val_loss: 1.8863 - val_acc: 0.6860 - lr: 0.0010
Epoch 72/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.2133 - acc: 0.6762 - val_loss: 1.9257 - val_acc: 0.7355 - lr: 0.0010
Epoch 73/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.1149 - acc: 0.7153 - val_loss: 2.0234 - val_acc: 0.6860 - lr: 0.0010
Epoch 74/1000
9/9 [==============================] - 0s 7ms/step - loss: 1.3243 - acc: 0.7011 - val_loss: 1.7976 - val_acc: 0.6860 - lr: 0.0010
Epoch 75/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.0885 - acc: 0.6940 - val_loss: 1.7982 - val_acc: 0.7438 - lr: 0.0010
Epoch 76/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.0358 - acc: 0.7224 - val_loss: 1.6755 - val_acc: 0.6860 - lr: 0.0010
Epoch 77/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.3055 - acc: 0.7260 - val_loss: 2.0096 - val_acc: 0.7025 - lr: 0.0010
Epoch 78/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.4289 - acc: 0.7153 - val_loss: 1.7586 - val_acc: 0.7438 - lr: 0.0010
Epoch 79/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.2666 - acc: 0.7438 - val_loss: 1.3558 - val_acc: 0.6364 - lr: 0.0010
Epoch 80/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.2996 - acc: 0.7402 - val_loss: 1.9997 - val_acc: 0.7190 - lr: 0.0010
Epoch 81/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.2873 - acc: 0.6477 - val_loss: 1.4497 - val_acc: 0.6612 - lr: 0.0010
Epoch 82/1000
9/9 [==============================] - 0s 11ms/step - loss: 1.1958 - acc: 0.7260 - val_loss: 1.8239 - val_acc: 0.7190 - lr: 0.0010
Epoch 83/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.3161 - acc: 0.7509 - val_loss: 2.1570 - val_acc: 0.6860 - lr: 0.0010
Epoch 84/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.6493 - acc: 0.6975 - val_loss: 2.0553 - val_acc: 0.6198 - lr: 0.0010
Epoch 85/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.3803 - acc: 0.6762 - val_loss: 1.9638 - val_acc: 0.6777 - lr: 0.0010
Epoch 86/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.0823 - acc: 0.6904 - val_loss: 1.6754 - val_acc: 0.6612 - lr: 0.0010
Epoch 87/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.0525 - acc: 0.7402 - val_loss: 1.6038 - val_acc: 0.6694 - lr: 0.0010
Epoch 88/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.0852 - acc: 0.7473 - val_loss: 1.8052 - val_acc: 0.7025 - lr: 2.0000e-04
Epoch 89/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.2875 - acc: 0.7509 - val_loss: 1.7962 - val_acc: 0.6860 - lr: 2.0000e-04
Epoch 90/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.0593 - acc: 0.7616 - val_loss: 1.7848 - val_acc: 0.6942 - lr: 2.0000e-04
Epoch 91/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.0649 - acc: 0.7473 - val_loss: 1.7906 - val_acc: 0.7107 - lr: 2.0000e-04
Epoch 92/1000
9/9 [==============================] - 0s 6ms/step - loss: 1.2125 - acc: 0.7153 - val_loss: 1.6724 - val_acc: 0.6860 - lr: 2.0000e-04
Epoch 93/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.1883 - acc: 0.6975 - val_loss: 1.7749 - val_acc: 0.6860 - lr: 2.0000e-04
Epoch 94/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.1190 - acc: 0.7616 - val_loss: 1.7728 - val_acc: 0.7107 - lr: 2.0000e-04
Epoch 95/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.2641 - acc: 0.7580 - val_loss: 1.7870 - val_acc: 0.7190 - lr: 2.0000e-04
Epoch 96/1000
9/9 [==============================] - 0s 5ms/step - loss: 1.1016 - acc: 0.7402 - val_loss: 1.6793 - val_acc: 0.6942 - lr: 2.0000e-04
Epoch 97/1000
9/9 [==============================] - 0s 6ms/step - loss: 0.9458 - acc: 0.7295 - val_loss: 1.6618 - val_acc: 0.7025 - lr: 2.0000e-04
13/13 [==============================] - 0s 1ms/step - loss: 1.1692 - acc: 0.7488

acc: 0.7488

0.7338 - elu, adam 256,normal, dropout, 128,normal, dropout, 64, 32, reduce-0.2,100, early-130, epoch-0.3,2000,128, auto
0.7488 - elu, adam 256,normal, dropout, 128,normal, dropout, 64, 32, reduce-0.2,100, early-130, epoch-0.3,2000,128, max
0.7587 - elu, rmsprop 256,normal, dropout, 128,normal, dropout, 64, 32, reduce-0.2,100, early-130, epoch-0.3,2000,128, max
0.7836 0.7687
0.7512 - elu, rmsprop 32,normal, dropout, 128,normal, dropout, 64, 32, reduce-0.2,100, early-130, epoch-0.3,2000,128, max