In [1]:
import pandas as pd
import numpy as np

## kmdb 데이터

In [2]:
kmdb = pd.read_csv('data/KMDB_FINAL.csv')
kmdb.drop('Unnamed: 0', axis=1, inplace=True)
kmdb.head(3)

,title,prodYear,directors,actors,nation,plots,runtime,rating,genre,kmdbUrl,keywords
0,칠복성,1985,홍금보,"성룡, 원표, 유덕화, 관지림, 호혜중, 양자경",홍콩,"괴짜 경찰관들로 이루어진 '오복성'(홍금보, 오요한, 증자위, 빙쉬범, 진상림)은,...",98.0,NaN,"액션,코메디,무협",https://www.kmdb.or.kr/db/kor/detail/movie/F/0...,"대만,마약조직,살인청부업자,일본,홍콩경찰,휴가,속편,시리즈"
1,스왈로 탐험대와 아마존 해적,2016,필립파 로소프,"켈리 맥도날드, 앤드류 스캇, 라페 스펠, 해리 엔필드, 제시카 하인즈",영국,“스왈로 탐험대의 출항을 허가한다”존과 엄마 그리고 동생들은 엄마가 어려서 뛰놀던 ...,97.0,전체관람가,"가족,어드벤처,드라마,전쟁",https://www.kmdb.or.kr/db/kor/detail/movie/F/4...,"여름휴가,외딴섬,아이들,모험,소설원작"
2,물괴,2017,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",대한민국,“인왕산에 흉악한 짐승이 나타나 사람을 해쳤다 하옵니다.그것을 두고 듣지도 보지도 ...,105.0,15세관람가,"액션,시대극/사극",https://www.kmdb.or.kr/db/kor/detail/movie/K/1...,"조선시대,전염병,괴물,시대극/사극,사투"

In [3]:
kmdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9770 entries, 0 to 9769
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      9770 non-null   object
 1   prodYear   9770 non-null   int64
 2   directors  9734 non-null   object
 3   actors     9300 non-null   object
 4   nation     9759 non-null   object
 5   plots      9631 non-null   object
 6   runtime    9730 non-null   float64
 7   rating     9351 non-null   object
 8   genre      9711 non-null   object
 9   kmdbUrl    9770 non-null   object
 10  keywords   5986 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 839.7+ KB

## kmdb prodYear 2010이전 데이터 제거

In [4]:
kmdb = kmdb[~(kmdb['prodYear'] < 2010.0)]

In [5]:
kmdb.isna().sum()

title           0
prodYear        0
directors      33
actors        438
nation         10
plots         133
runtime        34
rating        336
genre          49
kmdbUrl         0
keywords     3627
dtype: int64

In [6]:
kmdb['title'] = kmdb['title'].str.strip()

In [7]:
kmdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8914 entries, 1 to 9769
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      8914 non-null   object
 1   prodYear   8914 non-null   int64
 2   directors  8881 non-null   object
 3   actors     8476 non-null   object
 4   nation     8904 non-null   object
 5   plots      8781 non-null   object
 6   runtime    8880 non-null   float64
 7   rating     8578 non-null   object
 8   genre      8865 non-null   object
 9   kmdbUrl    8914 non-null   object
 10  keywords   5287 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 835.7+ KB

In [11]:
kmdb[kmdb.title.duplicated()]

,title,prodYear,directors,actors,nation,plots,runtime,rating,genre,kmdbUrl,keywords
1289,사일런스,2016,마틴 스코세이지,"앤드류 가필드, 애덤 드라이버, 리암 니슨, 아사노 타다노부","멕시코,대만,미국",고난의 순간에… 당신은 왜 침묵하십니까?…그 침묵 속에서 당신의 목소리를 들었습니다...,159.0,15세관람가,"드라마,역사",https://www.kmdb.or.kr/db/kor/detail/movie/F/3...,"소설원작,종교,종교박해"
1563,카운트다운,2016,존 스톡웰,"닉 네메스, 글렌 제이콥스, 캐서린 이자벨",미국,남은 시간은 6시간 40분…테러를 막기 위한 숨막히는 추격전이 시작된다!시애틀 경찰...,90.0,18세관람가(청소년관람불가),액션,https://www.kmdb.or.kr/db/kor/detail/movie/F/3...,NaN
1702,엘로이즈,2014,마이크 바인더,"케빈 코스트너, 옥타비아 스펜서, 질리언 이스텔, 윌리암 버레스, 엠포 코아호, 안...",미국,엘리엇 앤더슨은 하루 아침에 교통사고로 아내를 잃는다. 딸이 죽으면서 남긴 손녀 엘...,121.0,12세관람가,드라마,https://www.kmdb.or.kr/db/kor/detail/movie/F/3...,NaN
1802,터널,2016,김성훈,"하정우, 배두나, 오달수, 신정근, 남지현, 조현철, 유승목, 이철민, 박진우, 이...",대한민국,"집으로 가는 길, 터널이 무너졌다.자동차 영업대리점의 과장 정수(하정우), 큰 계약...",127.0,12세관람가,드라마,https://www.kmdb.or.kr/db/kor/detail/movie/K/1...,"고립,구조,남자,재난,생존,낙오/고립,재난영화,고군분투,부실공사,119구조대"
2084,토스카,2017,사이먼 래틀,NaN,독일,"오페라 가수, 토스카의 연인인 화가 카바라도시는 우연히 정치범 안젤로티를 숨겨주게 ...",131.0,12세관람가,멜로드라마,https://www.kmdb.or.kr/db/kor/detail/movie/B/0...,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9546,킬러스,2014,"키모 스탐보엘, 티모 트자잔토","기타무라 가즈키, 타카나시 린, 오카 안타라","인도네시아,일본",살인마 vs 살인마 두 명의 살인마가 만났다!자신의 살인 행각을 동영상으로 찍고 웹...,137.0,18세관람가(청소년관람불가),"액션,스릴러",https://www.kmdb.or.kr/db/kor/detail/movie/F/3...,NaN
9624,몬스터,2013,황인호,"이민기, 김고은, 김뢰하, 안서현, 김부선, 남경읍, 김보라, 한다은, 박병은, 김...",대한민국,"노점상을 하며 하나뿐인 동생과 살고 있는 '복순', 약간 모자라지만 제대로 건드리면...",113.0,18세관람가(청소년관람불가),"드라마,스릴러",https://www.kmdb.or.kr/db/kor/detail/movie/K/1...,"살인마,동생,복수,추격,스릴러"
9625,앙상블,2012,이종필,"권혁주, 김지윤, 박고은, 이한나, 성민제",대한민국,클래식 음악 연주자 일곱 명이 무대 위로 등장한다. 세 살때 처음 바이올린을 잡은 ...,73.0,전체관람가,드라마,https://www.kmdb.or.kr/db/kor/detail/movie/A/0...,NaN
9715,블랙버드,2014,지나 프린스바이써우드,"구구 바샤-로, 네이트 파커, 미니 드라이버, 대니 글로버",미국,새로운 스타 탄생을 목격하라!최강 스태프들에 의해 철저하게 스타로 만들어진 노니. ...,116.0,15세관람가,"드라마,뮤직",https://www.kmdb.or.kr/db/kor/detail/movie/F/3...,NaN
9727,마피아,2012,라이언 콤즈,NaN,미국,마피아 두목과 두 형사의 쫓고 쫓기는 추격전! 살아남기 위한 치열한 전쟁이 시작된다...,81.0,18세관람가(청소년관람불가),"액션,범죄",https://www.kmdb.or.kr/db/kor/detail/movie/F/3...,NaN

In [ ]:
kmdb['title'].drop_duplicates(inplace=True)

In [46]:
kmdb.drop('kmdbUrl', axis=1, inplace=True)

In [47]:
kmdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8914 entries, 1 to 9769
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      8914 non-null   object
 1   prodYear   8914 non-null   int64
 2   directors  8881 non-null   object
 3   actors     8476 non-null   object
 4   nation     8904 non-null   object
 5   plots      8781 non-null   object
 6   runtime    8880 non-null   float64
 7   rating     8578 non-null   object
 8   genre      8865 non-null   object
 9   keywords   5287 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 766.0+ KB

## kobis 데이터

In [48]:
kobis = pd.read_csv('data/KOBIS_FINAL.csv')
kobis.drop('Unnamed: 0', axis=1, inplace=True)
kobis.head(3)

,title,directors,개봉일,국적,screenCnt,salesAcc,audiAcc,genre,등급
0,명량,김한민,2014-07-30,한국,1587,135748398910,17613682,사극,15세이상관람가
1,극한직업,이병헌,2019-01-23,한국,1978,139647979516,16264944,코미디,15세이상관람가
2,신과함께-죄와 벌,김용화,2017-12-20,한국,1912,115698654137,14410754,판타지,12세이상관람가

In [49]:
kobis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15914 entries, 0 to 15913
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      15904 non-null  object
 1   directors  14879 non-null  object
 2   개봉일        15914 non-null  object
 3   국적         15914 non-null  object
 4   screenCnt  15914 non-null  int64
 5   salesAcc   15914 non-null  int64
 6   audiAcc    15914 non-null  int64
 7   genre      15843 non-null  object
 8   등급         15914 non-null  object
dtypes: int64(3), object(6)
memory usage: 1.1+ MB

## kobis prodYear 2010 이전 데이터 제거

In [50]:
kobis = kobis[~(kobis['개봉일'] < '2010-01-01')]

In [51]:
kobis.reset_index(drop=True, inplace=True)

In [52]:
kobis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15858 entries, 0 to 15857
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      15849 non-null  object
 1   directors  14823 non-null  object
 2   개봉일        15858 non-null  object
 3   국적         15858 non-null  object
 4   screenCnt  15858 non-null  int64
 5   salesAcc   15858 non-null  int64
 6   audiAcc    15858 non-null  int64
 7   genre      15787 non-null  object
 8   등급         15858 non-null  object
dtypes: int64(3), object(6)
memory usage: 1.1+ MB

In [53]:
kobis['title'].drop_duplicates(inplace=True)

In [54]:
kobis.isna().sum()

title           9
directors    1035
개봉일             0
국적              0
screenCnt       0
salesAcc        0
audiAcc         0
genre          71
등급              0
dtype: int64

## kobis 영화제목(title) null값 처리

- title null 값 
    - 41 : 1987
    - 581 : 1917
    - 1988 : 355
    - 2216 : 33
    - 2666 : 800
    - 4585 : 22
    - 5680 : 1944
    - 6107 : 2067
    - 8794 : 9/11

In [55]:
kobis[kobis.title.isna()]

,title,directors,개봉일,국적,screenCnt,salesAcc,audiAcc,genre,등급
41,NaN,장준환,2017-12-27,한국,1299,58165581145,7231638,드라마,15세이상관람가
581,NaN,샘 멘데스,2020-02-19,미국,932,7872002760,870451,드라마,15세이상관람가
1988,NaN,사이먼 킨버그,2022-02-09,미국,540,383613590,42951,액션,15세이상관람가
2216,NaN,패트리시아 리건,2016-04-07,미국,320,228351400,29728,드라마,12세이상관람가
2666,NaN,관후,2020-12-10,중국,223,141698200,16625,전쟁,15세이상관람가
4585,NaN,궈커,2018-08-14,한국,31,18668000,2434,다큐멘터리,전체관람가
5680,NaN,엘모 누가넨,2015-12-23,에스토니아,5,4420000,880,전쟁,15세이상관람가
6107,NaN,세스 라니,2021-06-03,호주,36,4647600,509,어드벤처,12세이상관람가
8794,NaN,마틴 귀귀,2018-01-31,미국,5,490000,46,액션,15세이상관람가

In [56]:
kobis.loc[kobis.index == 41, 'title'] = '1987'

kobis.loc[kobis.index == 581, 'title'] = '1917'

kobis.loc[kobis.index == 1988, 'title'] = '355'

kobis.loc[kobis.index == 2216, 'title'] = '33'

kobis.loc[kobis.index == 2666, 'title'] = '800'

kobis.loc[kobis.index == 4585, 'title'] = '22'

kobis.loc[kobis.index == 5680, 'title'] = '1944'

kobis.loc[kobis.index == 6107, 'title'] = '2067'

kobis.loc[kobis.index == 8794, 'title'] = '9/11'

In [57]:
kobis[kobis.title.isna()]

Empty DataFrame
Columns: [title, directors, 개봉일, 국적, screenCnt, salesAcc, audiAcc, genre, 등급]
Index: []

In [58]:
kobis.isna().sum()

title           0
directors    1035
개봉일             0
국적              0
screenCnt       0
salesAcc        0
audiAcc         0
genre          71
등급              0
dtype: int64

## kobis 필요없는 데이터 제거

In [59]:
kobis.drop(['directors', 'genre'], axis=1, inplace=True)

In [60]:
kobis.head(3)

       title         개봉일  국적  screenCnt      salesAcc   audiAcc        등급
0         명량  2014-07-30  한국       1587  135748398910  17613682  15세이상관람가
1       극한직업  2019-01-23  한국       1978  139647979516  16264944  15세이상관람가
2  신과함께-죄와 벌  2017-12-20  한국       1912  115698654137  14410754  12세이상관람가

In [61]:
kobis['title'] = kobis['title'].str.strip()

In [62]:
df_merge = pd.merge(kmdb, kobis, on='title')
print(df_merge.shape)
df_merge.head(3)

(7006, 16)

,title,prodYear,directors,actors,nation,plots,runtime,rating,genre,keywords,개봉일,국적,screenCnt,salesAcc,audiAcc,등급
0,스왈로 탐험대와 아마존 해적,2016,필립파 로소프,"켈리 맥도날드, 앤드류 스캇, 라페 스펠, 해리 엔필드, 제시카 하인즈",영국,“스왈로 탐험대의 출항을 허가한다”존과 엄마 그리고 동생들은 엄마가 어려서 뛰놀던 ...,97.0,전체관람가,"가족,어드벤처,드라마,전쟁","여름휴가,외딴섬,아이들,모험,소설원작",2021-09-02,영국,1,50000,10,전체관람가
1,물괴,2017,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",대한민국,“인왕산에 흉악한 짐승이 나타나 사람을 해쳤다 하옵니다.그것을 두고 듣지도 보지도 ...,105.0,15세관람가,"액션,시대극/사극","조선시대,전염병,괴물,시대극/사극,사투",2018-09-12,한국,1183,6104164954,723414,15세이상관람가
2,싱글라이더,2016,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",대한민국,그가 사라졌다그에게서 모든 것이 사라졌다증권회사의 지점장 강재훈(이병헌). 안정된 ...,97.0,15세관람가,드라마,"기러기아빠,호주,오스트레일리아,반전,반전영화,동물",2017-02-22,한국,576,2685519021,351276,15세이상관람가

In [63]:
df_merge.drop(['prodYear', 'nation', 'rating'], axis=1, inplace=True)

In [64]:
df_merge.reset_index(drop=True, inplace=True)

In [65]:
df_merge.isna().sum()

title           0
directors      21
actors        354
plots         103
runtime         7
genre          55
keywords     2701
개봉일             0
국적              0
screenCnt       0
salesAcc        0
audiAcc         0
등급              0
dtype: int64

- runtime null 값
    - 2437 : 72
    - 2860 : 116
    - 3484 : 113
    - 4885 : 166
    - 4914 : 66
    - 6351 : 90
    - 6647 : 125

In [66]:
df_merge[df_merge['runtime'].isna()]

,title,directors,actors,plots,runtime,genre,keywords,개봉일,국적,screenCnt,salesAcc,audiAcc,등급
2437,상견니,황천인,"가가연, 허광한, 시백우",세상을 떠난 남자친구 ‘왕취안성’을 잊지 못한 주인공 ‘황위쉬안’이 운명처럼 199...,NaN,"드라마,멜로/로맨스,판타지",NaN,2021-08-31,기타,99,46527880,6295,12세이상관람가
2860,스마트폰을 떨어뜨렸을 뿐인데,김태준,"천우희, 임시완, 김희원",평범한 회사원이 자신의 모든 개인 정보가 담긴 스마트폰을 분실한 뒤 일상 전체를 위...,NaN,스릴러,NaN,2019-04-04,일본,3,3014000,414,15세이상관람가
3484,젠틀맨,김경원,"주지훈, 박성웅, 최성은",흥신소 사장 ‘지현수’(주지훈)가 살인 누명을 벗으려다 거대한 사건에 휘말리게 되는...,NaN,"범죄,액션",NaN,2020-02-26,미국,586,665658710,81482,청소년관람불가
4885,파리오페라발레 갈라쇼,NaN,NaN,NaN,NaN,NaN,NaN,2015-05-02,프랑스,11,23067500,1239,전체관람가
4914,말괄량이 마녀 로비와 숲 속 친구들,크리스티안 릴테니우스,"피터 하베르, 모르간 알링, 토마스 볼미, 조나스 칼슨, 인젤라 올손",용감무쌍 영웅 곰 ‘벤’과 친구들의 마법 같은 모험이 시작된다!세상에서 가장 힘세고...,NaN,가족,NaN,2017-11-09,스웨덴,153,69087500,9628,전체관람가
6351,스타쉽 라이징,NaN,NaN,NaN,NaN,"SF,액션",NaN,2014-12-24,미국,5,654000,244,15세이상관람가
6647,숲속으로,로브 마샬,"메릴 스트립, 조니 뎁, 에밀리 블런트, 제임스 코든, 안나 켄드릭",각자의 소원을 이루기 위해 숲 속으로 들어온 동화 속 주인공들과 마녀의 저주를 풀 ...,NaN,"코메디,가족,판타지",NaN,2014-12-24,미국,356,2596533288,341882,전체관람가

In [67]:
df_merge.loc[df_merge.index == 2437, 'runtime'] = 72

df_merge.loc[df_merge.index == 2860, 'runtime'] = 116

df_merge.loc[df_merge.index == 3484, 'runtime'] = 113

df_merge.loc[df_merge.index == 4885, 'runtime'] = 166

df_merge.loc[df_merge.index == 4914, 'runtime'] = 66

df_merge.loc[df_merge.index == 6351, 'runtime'] = 90

df_merge.loc[df_merge.index == 6647, 'runtime'] = 125

df_merge.loc[df_merge.index == 6351, 'plots'] = '국가에 맞서다 사망한 아버지를 부끄럽게 여기는 ‘워디’는 가족과의 연을 끊고 군대에 들어간다. 뛰어난 잠재력과 몸을 아끼지 않는 노력으로 ‘워디’는 최고 전투함선 스타쉽-01의 승무원이 되어 전쟁에 참여하게 된다. 그러나 민간인을 사살하라는 군 간부의 명령이 떨어지고, ‘워디’는 대량학살을 막기 위해 본의 아니게 스타쉽을 탈취하게 된다. 얼떨결에 영웅이 된 ‘워디’는 자신을 처단하려는 군에 맞서게 되고, 그 과정에서 사실 군대 배후에 존재하는 거대한 존재가 인류를 독재 지배하고 있었다는 사실을 알게 된다. 비로소 아버지의 진정한 뜻을 알게 된 ‘워디’는 이제 목숨을 걸고 인류를 위한 최후의 반격을 준비한다.'

df_merge.loc[df_merge.index == 6351, 'directors'] = '닐 존슨'

df_merge.loc[df_merge.index == 6351, 'actors'] = '대런 제이콥스'

In [68]:
df_merge.isna().sum()

title           0
directors      20
actors        353
plots         102
runtime         0
genre          55
keywords     2701
개봉일             0
국적              0
screenCnt       0
salesAcc        0
audiAcc         0
등급              0
dtype: int64

In [69]:
df_merge.loc[df_merge.index == 4885]

,title,directors,actors,plots,runtime,genre,keywords,개봉일,국적,screenCnt,salesAcc,audiAcc,등급
4885,파리오페라발레 갈라쇼,NaN,NaN,NaN,166.0,NaN,NaN,2015-05-02,프랑스,11,23067500,1239,전체관람가

In [70]:
df_merge.loc[df_merge.index == 4885, 'directors'] = '브리지트 르페브르'

In [71]:
df_merge.loc[df_merge.index == 4885, 'actors'] = '미리암 울-브라암'

In [72]:
df_merge.loc[df_merge.index == 4885, 'plots'] = '데필레 (Defile) 음악: 엑토르 베를리오즈 ‘트로이의 사람들’ 중 ‘행진’ 지휘: 프레데릭 라로크 갈라 또는 특별 행사 때만 선보이는 파리 오페라 발레의 ‘데필레’는 무용계에서도 독특한 공연으로, 단원 전원이 무대를 가득 채우는 행사다. 단원들은 무대 뒤 쪽의 무용 연습실로부터 출발하여 천천히 무대 앞쪽으로 이동하여 관객과 마주서며, 이 행진으로 생겨나는 줄의 길이는 무려 46미터에 이른다. 이 ‘데필레’에는 주역 무용수, 솔리스트, 드미 솔리스트, 군무 1, 군무 2들과 부속 발레 학교의 학생 100여명 등 총 154명이 참가하여 300년이 넘은 이 행사의 전통을 이어간다. 에튀드 (Etudes) 음악: 칼 체르니 안무: 하랄드 란더 관현악 편곡: 크누다게 리사거 ‘에튀드’는 클래식 발레 수업을 무대로 옮겨놓은 것이다. 안무가, 발레의 대가, 파리국립오페라 부속 발레학교의 교장이었던 하랄드 란더의 작품인 ‘에튀드’는 클래식 발레의 기술, 순수함, 엄격함과 혹독한 훈련 등을 생생히 보여준다. 호두까기 인형 (The Nutcracker, 하이라이트 공연) 작곡: 표트르 일리치 차이코프스키 원작: E.T.A. 호프만의 동화 각색: 알렉상드르 뒤마 원작 안무: 마리우스 프티파 안무, 연출: 루돌프 누레예프 무대, 의상: 니콜라스 조르지아디스 지휘: 케빈 로즈 출연: 미리암 울-브라암(클라라), 제레미 벨렝가르(왕자, 드로셀마이어) 어린이의 세계로 돌아갈 때면 차이코프스키는 어린 시절을 향한 향수, 매혹과 더불어 악몽과도 같은 공포가 뒤섞인 음악을 만들어낸다. 이렇게 상상의 세계로 시간 여행을 하며 얻은 결실 중 하나인 ‘호두까기 인형’의 선율은 탁월한 서정성과 독창성으로 넘치는 한편, 몽상적이면서도 때로는 불안감을 주기도 하는데, 이런 속에서 눈송이, 무수한 꽃, 사탕 요정이 춤을 추면서 차이코프스키 최고의 환상적 걸작을 완성한다.'

In [73]:
df_merge.loc[df_merge.index == 4885, 'genre'] = '공연'

In [74]:
df_merge.loc[df_merge.index == 4885]

,title,directors,actors,plots,runtime,genre,keywords,개봉일,국적,screenCnt,salesAcc,audiAcc,등급
4885,파리오페라발레 갈라쇼,브리지트 르페브르,미리암 울-브라암,데필레 (Defile) 음악: 엑토르 베를리오즈 ‘트로이의 사람들’ 중 ‘행진’ 지...,166.0,공연,NaN,2015-05-02,프랑스,11,23067500,1239,전체관람가

In [75]:
df_merge.loc[df_merge.index == 6351]

,title,directors,actors,plots,runtime,genre,keywords,개봉일,국적,screenCnt,salesAcc,audiAcc,등급
6351,스타쉽 라이징,닐 존슨,대런 제이콥스,국가에 맞서다 사망한 아버지를 부끄럽게 여기는 ‘워디’는 가족과의 연을 끊고 군대에...,90.0,"SF,액션",NaN,2014-12-24,미국,5,654000,244,15세이상관람가

In [76]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7006 entries, 0 to 7005
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      7006 non-null   object
 1   directors  6987 non-null   object
 2   actors     6654 non-null   object
 3   plots      6905 non-null   object
 4   runtime    7006 non-null   float64
 5   genre      6952 non-null   object
 6   keywords   4305 non-null   object
 7   개봉일        7006 non-null   object
 8   국적         7006 non-null   object
 9   screenCnt  7006 non-null   int64
 10  salesAcc   7006 non-null   int64
 11  audiAcc    7006 non-null   int64
 12  등급         7006 non-null   object
dtypes: float64(1), int64(3), object(9)
memory usage: 711.7+ KB

In [77]:
df_merge.isna().sum()

title           0
directors      19
actors        352
plots         101
runtime         0
genre          54
keywords     2701
개봉일             0
국적              0
screenCnt       0
salesAcc        0
audiAcc         0
등급              0
dtype: int64

In [78]:
df_merge.shape

(7006, 13)

In [79]:
df_merge.to_csv('data/data_merge.csv',encoding='utf-8-sig')