In [2]:
import pandas as pd

In [59]:
df = pd.read_csv('data_merge수정2.csv')

In [60]:
star = pd.read_csv('star_buzz_df_fin.csv')

In [61]:
expect = pd.read_csv('data_제작비_한국_기대지수.csv')

In [62]:
star

      star_buzz
0             0
1          1629
2           581
3            18
4             3
...         ...
6376         23
6377         23
6378          4
6379          2
6380        630

[6381 rows x 1 columns]

In [63]:
df = pd.concat([df,star], axis=1 )

In [64]:
df1 = df.drop(['Unnamed: 0', 'directors', 'actors', 'plots', 'genre',
       'runtime', 'keywords', '등급', '개봉일', '국적', 'screenCnt', 'salesAcc',
       'audiAcc'], axis=1)

In [65]:
df1

                title  star_buzz
0     스왈로 탐험대와 아마존 해적          0
1                  물괴       1629
2               싱글라이더        581
3             리즈와 파랑새         18
4               레드 후드          3
...               ...        ...
6376            파라노이아         23
6377         춘하추동 로맨스         23
6378          4명의 암살자          4
6379             변종샤크          2
6380            터널 3D        630

[6381 rows x 2 columns]

In [66]:
expect

,Unnamed: 0,title,directors,actors,plots,genre,runtime,keywords,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수
0,0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",“인왕산에 흉악한 짐승이 나타나 사람을 해쳤다 하옵니다.그것을 두고 듣지도 보지도 ...,액션,105.0,"조선시대,전염병,괴물,시대극/사극,사투",15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1274
1,1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",그가 사라졌다그에게서 모든 것이 사라졌다증권회사의 지점장 강재훈(이병헌). 안정된 ...,드라마,97.0,"기러기아빠,호주,오스트레일리아,반전,반전영화,동물",15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,3838
2,2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...","이겨야죠! 이겨야 할매들 분이 안풀리겠습니까? 1992~1998 6년의 기간, 2...",드라마,121.0,"종군위안부,위안부,일본군위안부피해자,실화바탕,재판,관부재판,정신대,정신대할머니,법정...",12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,494
3,3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",커피집이 있을 것 같지 않은 골목 안으로 커피집이 있고 사람들이 커피집 안 여기저기...,드라마,66.0,"삶과죽음,타인의 삶,언행,부산국제영화제,베를린영화제,삶의굴레,삶의순환,삶의의미",15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,162
4,4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",나쁘고 좋은 사람들을 만났다.교통사고로 부모를 잃고 졸지에 가장이 된 영주는 자신의...,드라마,101.0,"부산국제영화제,부모님의죽음,장편데뷔작,복수극",12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,570,방황하는 칼날,이정호,"정재영, 이성민, 서준영, 김대명, 김현, 이수빈, 이주승, 최상욱, 김지혁, 김홍...","한 아이의 아버지는 하나뿐인 딸을 잃은 피해자가 되고, 이제는 살인자가 되었습니다....",범죄,122.0,"복수,살인자,소설원작,스릴러,아버지,윤간,일본소설원작,집단성폭행,추격,피해자,형사,...",청소년관람불가,한국,594.0,987420.0,7.806378e+09,2014-04-10,2.400000e+09,1932
571,571,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...","“기다려... 우리가 꼭 데리러 갈게...”해발 8,750 미터 히말라야 에베레스트...",드라마,124.0,"산,등산,히말라야,동료,에베레스트,실화바탕,실화바탕,실화바탕,실존인물,산악등반,동사...",12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,13693
572,572,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...","그나저나 나한테 언제 시집 오실 생각이세요? 돈 없고, 대책 없고, 가진 것도 ...",드라마,123.0,"소설원작,중국소설원작",12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,10731
573,573,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",전국민을 시원하게 웃겨줄 액션 어드벤처!조선을 뒤흔든 최강도적들의 대격전! 조선의 ...,어드벤처,130.0,"고래,바다,사대부,조선,해적,국새",12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,4941
574,574,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...","얼굴, 몸매, 성적 매력까지 다 가진 슈퍼 섹시 아바타로 변신!내 인생 최고의 특급...",코미디,80.0,"백수,생체실험,정체불명,숫총각,아바타",청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,247

In [67]:
df_star = pd.merge(expect, df1,how='left', on='title' )

In [68]:
df_star

,Unnamed: 0,title,directors,actors,plots,genre,runtime,keywords,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz
0,0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",“인왕산에 흉악한 짐승이 나타나 사람을 해쳤다 하옵니다.그것을 두고 듣지도 보지도 ...,액션,105.0,"조선시대,전염병,괴물,시대극/사극,사투",15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1274,1629
1,1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",그가 사라졌다그에게서 모든 것이 사라졌다증권회사의 지점장 강재훈(이병헌). 안정된 ...,드라마,97.0,"기러기아빠,호주,오스트레일리아,반전,반전영화,동물",15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,3838,581
2,2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...","이겨야죠! 이겨야 할매들 분이 안풀리겠습니까? 1992~1998 6년의 기간, 2...",드라마,121.0,"종군위안부,위안부,일본군위안부피해자,실화바탕,재판,관부재판,정신대,정신대할머니,법정...",12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,494,943
3,3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",커피집이 있을 것 같지 않은 골목 안으로 커피집이 있고 사람들이 커피집 안 여기저기...,드라마,66.0,"삶과죽음,타인의 삶,언행,부산국제영화제,베를린영화제,삶의굴레,삶의순환,삶의의미",15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,162,111
4,4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",나쁘고 좋은 사람들을 만났다.교통사고로 부모를 잃고 졸지에 가장이 된 영주는 자신의...,드라마,101.0,"부산국제영화제,부모님의죽음,장편데뷔작,복수극",12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,800,335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,570,방황하는 칼날,이정호,"정재영, 이성민, 서준영, 김대명, 김현, 이수빈, 이주승, 최상욱, 김지혁, 김홍...","한 아이의 아버지는 하나뿐인 딸을 잃은 피해자가 되고, 이제는 살인자가 되었습니다....",범죄,122.0,"복수,살인자,소설원작,스릴러,아버지,윤간,일본소설원작,집단성폭행,추격,피해자,형사,...",청소년관람불가,한국,594.0,987420.0,7.806378e+09,2014-04-10,2.400000e+09,1932,772
571,571,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...","“기다려... 우리가 꼭 데리러 갈게...”해발 8,750 미터 히말라야 에베레스트...",드라마,124.0,"산,등산,히말라야,동료,에베레스트,실화바탕,실화바탕,실화바탕,실존인물,산악등반,동사...",12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,13693,1987
572,572,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...","그나저나 나한테 언제 시집 오실 생각이세요? 돈 없고, 대책 없고, 가진 것도 ...",드라마,123.0,"소설원작,중국소설원작",12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,10731,1196
573,573,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",전국민을 시원하게 웃겨줄 액션 어드벤처!조선을 뒤흔든 최강도적들의 대격전! 조선의 ...,어드벤처,130.0,"고래,바다,사대부,조선,해적,국새",12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,4941,1413
574,574,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...","얼굴, 몸매, 성적 매력까지 다 가진 슈퍼 섹시 아바타로 변신!내 인생 최고의 특급...",코미디,80.0,"백수,생체실험,정체불명,숫총각,아바타",청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,247,147

In [69]:
df_1978 = df[df['title']=='1987']

In [70]:
df_1978

,Unnamed: 0,title,directors,actors,plots,genre,runtime,keywords,등급,개봉일,국적,screenCnt,salesAcc,audiAcc,star_buzz
88,88,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...","“책상을 탁! 치니 억! 하고 죽었습니다”1987년 1월, 경찰 조사를 받던 스물두...",드라마,129,"518민주화운동,국가폭력,1980년대,1987년,대학생,검사,시위,신문기자,안기부,...",15세이상관람가,2017-12-27,한국,1299,5.816558e+10,7231638,1830

In [71]:
df_1 = pd.concat([df_star,df_1978], axis=0)

In [72]:
df_1

,Unnamed: 0,title,directors,actors,plots,genre,runtime,keywords,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz
0,0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",“인왕산에 흉악한 짐승이 나타나 사람을 해쳤다 하옵니다.그것을 두고 듣지도 보지도 ...,액션,105.0,"조선시대,전염병,괴물,시대극/사극,사투",15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1274.0,1629
1,1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",그가 사라졌다그에게서 모든 것이 사라졌다증권회사의 지점장 강재훈(이병헌). 안정된 ...,드라마,97.0,"기러기아빠,호주,오스트레일리아,반전,반전영화,동물",15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,3838.0,581
2,2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...","이겨야죠! 이겨야 할매들 분이 안풀리겠습니까? 1992~1998 6년의 기간, 2...",드라마,121.0,"종군위안부,위안부,일본군위안부피해자,실화바탕,재판,관부재판,정신대,정신대할머니,법정...",12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,494.0,943
3,3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",커피집이 있을 것 같지 않은 골목 안으로 커피집이 있고 사람들이 커피집 안 여기저기...,드라마,66.0,"삶과죽음,타인의 삶,언행,부산국제영화제,베를린영화제,삶의굴레,삶의순환,삶의의미",15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,162.0,111
4,4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",나쁘고 좋은 사람들을 만났다.교통사고로 부모를 잃고 졸지에 가장이 된 영주는 자신의...,드라마,101.0,"부산국제영화제,부모님의죽음,장편데뷔작,복수극",12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,800.0,335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,571,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...","“기다려... 우리가 꼭 데리러 갈게...”해발 8,750 미터 히말라야 에베레스트...",드라마,124.0,"산,등산,히말라야,동료,에베레스트,실화바탕,실화바탕,실화바탕,실존인물,산악등반,동사...",12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,13693.0,1987
572,572,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...","그나저나 나한테 언제 시집 오실 생각이세요? 돈 없고, 대책 없고, 가진 것도 ...",드라마,123.0,"소설원작,중국소설원작",12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,10731.0,1196
573,573,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",전국민을 시원하게 웃겨줄 액션 어드벤처!조선을 뒤흔든 최강도적들의 대격전! 조선의 ...,어드벤처,130.0,"고래,바다,사대부,조선,해적,국새",12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,4941.0,1413
574,574,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...","얼굴, 몸매, 성적 매력까지 다 가진 슈퍼 섹시 아바타로 변신!내 인생 최고의 특급...",코미디,80.0,"백수,생체실험,정체불명,숫총각,아바타",청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,247.0,147
88,88,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...","“책상을 탁! 치니 억! 하고 죽었습니다”1987년 1월, 경찰 조사를 받던 스물두...",드라마,129.0,"518민주화운동,국가폭력,1980년대,1987년,대학생,검사,시위,신문기자,안기부,...",15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,NaN,NaN,1830

In [79]:
df_1.loc[df_1['title']=='1987','네이버_기대지수'] = 13877

In [80]:
df_1

,Unnamed: 0,title,directors,actors,plots,genre,runtime,keywords,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz
0,0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",“인왕산에 흉악한 짐승이 나타나 사람을 해쳤다 하옵니다.그것을 두고 듣지도 보지도 ...,액션,105.0,"조선시대,전염병,괴물,시대극/사극,사투",15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1274.0,1629
1,1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",그가 사라졌다그에게서 모든 것이 사라졌다증권회사의 지점장 강재훈(이병헌). 안정된 ...,드라마,97.0,"기러기아빠,호주,오스트레일리아,반전,반전영화,동물",15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,3838.0,581
2,2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...","이겨야죠! 이겨야 할매들 분이 안풀리겠습니까? 1992~1998 6년의 기간, 2...",드라마,121.0,"종군위안부,위안부,일본군위안부피해자,실화바탕,재판,관부재판,정신대,정신대할머니,법정...",12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,494.0,943
3,3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",커피집이 있을 것 같지 않은 골목 안으로 커피집이 있고 사람들이 커피집 안 여기저기...,드라마,66.0,"삶과죽음,타인의 삶,언행,부산국제영화제,베를린영화제,삶의굴레,삶의순환,삶의의미",15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,162.0,111
4,4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",나쁘고 좋은 사람들을 만났다.교통사고로 부모를 잃고 졸지에 가장이 된 영주는 자신의...,드라마,101.0,"부산국제영화제,부모님의죽음,장편데뷔작,복수극",12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,800.0,335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,571,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...","“기다려... 우리가 꼭 데리러 갈게...”해발 8,750 미터 히말라야 에베레스트...",드라마,124.0,"산,등산,히말라야,동료,에베레스트,실화바탕,실화바탕,실화바탕,실존인물,산악등반,동사...",12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,13693.0,1987
572,572,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...","그나저나 나한테 언제 시집 오실 생각이세요? 돈 없고, 대책 없고, 가진 것도 ...",드라마,123.0,"소설원작,중국소설원작",12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,10731.0,1196
573,573,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",전국민을 시원하게 웃겨줄 액션 어드벤처!조선을 뒤흔든 최강도적들의 대격전! 조선의 ...,어드벤처,130.0,"고래,바다,사대부,조선,해적,국새",12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,4941.0,1413
574,574,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...","얼굴, 몸매, 성적 매력까지 다 가진 슈퍼 섹시 아바타로 변신!내 인생 최고의 특급...",코미디,80.0,"백수,생체실험,정체불명,숫총각,아바타",청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,247.0,147
88,88,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...","“책상을 탁! 치니 억! 하고 죽었습니다”1987년 1월, 경찰 조사를 받던 스물두...",드라마,129.0,"518민주화운동,국가폭력,1980년대,1987년,대학생,검사,시위,신문기자,안기부,...",15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,13877.0,1830

In [81]:
df_1.to_csv('data_star_기대.csv', index=False)