In [ ]:
#!pip install chromedriver_autoinstaller

In [1]:
# 네이버에서 검색어 입력받아 검색 한 후 블로그 메뉴를 선택하고
# 오른쪽에 있는 검색옵션 버튼을 눌러서
# 정렬 방식과 기간을 입력하기

#Step 0. 필요한 모듈과 라이브러리를 로딩합니다.
import sys # 시스템
import os  # 시스템

import pandas as pd  # 판다스 : 데이터분석 라이브러리
import numpy as np   # 넘파이 : 숫자, 행렬 데이터 라이브러리

from bs4 import BeautifulSoup    # html 데이터를 전처리
from selenium import webdriver   # 웹 브라우저 자동화
from selenium.webdriver.common.keys import Keys #javascript같은 동작이 크롤링됨, 단점은 시간이 좀 걸림
import chromedriver_autoinstaller

import time    # 서버와 통신할 때 중간중간 시간 지연. 보통은 1초
from tqdm import tqdm_notebook   # for문 돌릴 때 진행상황을 %게이지로 알려준다.

# 워닝 무시
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('data_merge수정2.csv')

In [3]:
df

,Unnamed: 0,title,directors,actors,plots,genre,runtime,keywords,등급,개봉일,국적,screenCnt,salesAcc,audiAcc
0,0,스왈로 탐험대와 아마존 해적,필립파 로소프,"켈리 맥도날드, 앤드류 스캇, 라페 스펠, 해리 엔필드, 제시카 하인즈",“스왈로 탐험대의 출항을 허가한다”존과 엄마 그리고 동생들은 엄마가 어려서 뛰놀던 ...,어드벤처,97,"여름휴가,외딴섬,아이들,모험,소설원작",전체관람가,2021-09-02,영국,1,5.000000e+04,10
1,1,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",“인왕산에 흉악한 짐승이 나타나 사람을 해쳤다 하옵니다.그것을 두고 듣지도 보지도 ...,액션,105,"조선시대,전염병,괴물,시대극/사극,사투",15세이상관람가,2018-09-12,한국,1183,6.104165e+09,723414
2,2,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",그가 사라졌다그에게서 모든 것이 사라졌다증권회사의 지점장 강재훈(이병헌). 안정된 ...,드라마,97,"기러기아빠,호주,오스트레일리아,반전,반전영화,동물",15세이상관람가,2017-02-22,한국,576,2.685519e+09,351276
3,3,리즈와 파랑새,야마다 나오코,"타네자키 아츠미, 토야마 나오, 혼다 미유, 후지무라 코노미, 야마오카 유리","“너에겐 날개가 있고, 끝없이 펼쳐진 하늘도 있어” 늘 혼자였던 ‘리즈’ 앞에 어...",애니메이션,90,"십대소녀,단짝친구,외톨이,고3,합주,졸업반,마지막 연주",전체관람가,2018-10-09,일본,214,1.741404e+08,21153
4,4,레드 후드,르네 페르즈,"로버트 앰슬러, 니콜 스탁, 로버트 S. 딕슨, 콜린 허시, 제이슨 제이 프라도",편찮은 할머니를 위해 약을 구해 돌아가던 빨간 모자 소녀는 늑대 모습을 한 기사에게...,판타지,81,"괴물,성에 갇힌 남녀,감옥탈출",15세이상관람가,2018-11-11,미국,1,1.000000e+03,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6376,6376,파라노이아,로버트 루케틱,"리암 햄스워스, 게리 올드만, 앰버 허드, 해리슨 포드, 엠베스 다비츠","유명 첨단 기술회사인 와이어트사 말단직원, 아담 캐시디(리암 헴스워스)는 밑바닥에서...",드라마,106,NaN,15세이상관람가,2014-09-18,미국,1,8.000000e+03,1
6377,6377,춘하추동 로맨스,오창민,"이응재, 최은아, 조석현, 이민아, 이서림, 오대환, 이준혁","Chapter 1 단풍맞이 단합대회 단풍놀이가 한창인 가을, 어설픈 산악인 상...",코미디,100,"고백,허세,내숭,현실연애,옴니버스영화",15세이상관람가,2014-12-04,한국,5,7.368000e+06,1074
6378,6378,4명의 암살자,스텐리 J. 오젤,"미구엘 페러, 윌 윤 리, 메르세데스 레나드","최고의 실력을 가진 청부살인업자인 마커스, 일라이, 코딜리아, 체이스가 홍콩의 한 ...",액션,87,NaN,15세이상관람가,2015-01-05,미국,2,3.200000e+04,4
6379,6379,변종샤크,그리프 퍼스트,"크리스티 스완슨, D.B. 스위니",돌연변이 상어의 무차별 공격이 시작된다!벗어날 수 없는 죽음의 공포... 피할 곳은...,SF,89,"돌연변이,공격,상어,죽음,자연",15세이상관람가,2014-12-11,미국,5,1.708000e+06,426
6380,6380,터널 3D,박규택,"정유미, 연우진, 송재림, 정시연, 손병호, 이시원, 이재희, 도희, 우희, 정진,...","재벌 2세인 기철의 권유로 최고급 리조트 여행을 떠난 5명.기철, 영민, 유경, 세...",공포(호러),86,"실종,터널,3D",15세이상관람가,2014-08-20,한국,264,6.208740e+08,80989

In [6]:
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

In [ ]:
df['개봉일'] = pd.to_datetime(df['개봉일'])

In [ ]:
star_buzz = []

# 스크롤을 밑으로 내려주는 함수
def scroll_down(driver):
    driver.execute_script("window.scrollTo(0, 19431049)")
    time.sleep(1)


for ind in df.index[4000:]:
    actor = df['actors'][ind].split(',')
    actor = actor[:5]
    
    act_cnt = []
    
    end_date = df['개봉일'][ind] - relativedelta(days=1) 
    end_date = end_date.strftime('%Y%m%d') 

    start_date = df['개봉일'][ind] - relativedelta(months=1) 
    start_date = start_date.strftime('%Y%m%d') 

    
    for a in actor:
        query_txt = (df['title'][ind] + a).strip()
        
        chrome_path = chromedriver_autoinstaller.install()
        driver = webdriver.Chrome(chrome_path)
        # 사이트 주소는 네이버
        url = f'https://search.naver.com/search.naver?where=blog&query={query_txt}&sm=tab_opt&nso=so:r,p:from{start_date}to{end_date}'
        driver.get(url)
        time.sleep(2) 
        

        # last_height = driver.execute_script("return document.body.scrollHeight")
        #driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
        #driver.execute_script("window.scrollTo(0, 45465413211321);")
        #time.sleep(1)
        
      
        
        articles = ".api_txt_lines.total_tit"
        article_raw = driver.find_elements_by_css_selector(articles)
        
        if not article_raw:
            act_cnt.append(0)
        else:
            n = 20  # 스크롤 1번 당 30개씩
            i = 0
            while i < n: # 이 조건이 만족되는 동안 반복 실행
                scroll_down(driver) # 스크롤 다운
                i = i+1
            
            articles = ".api_txt_lines.total_tit"
            article_raw2 = driver.find_elements_by_css_selector(articles)
            
            act_cnt.append(len(article_raw2))
    
    star_buzz.append(sum(act_cnt))

In [78]:
star_buzz #1488~ # 1500 4:19

[382,
 0,
 92,
 1,
 145,
 1055,
 0,
 56,
 90,
 0,
 216,
 0,
 51,
 53,
 65,
 3,
 51,
 0,
 60,
 0,
 25,
 1,
 0,
 1,
 4,
 2,
 3,
 990,
 62,
 32,
 0,
 1,
 64,
 413,
 690,
 6,
 41,
 0,
 234,
 0,
 171,
 225,
 600,
 252,
 331,
 0,
 1,
 1,
 2,
 6,
 24,
 345,
 488,
 34,
 86,
 812,
 10,
 30,
 51,
 0,
 20,
 180,
 46,
 4,
 111,
 80,
 227,
 89,
 156,
 1,
 468,
 143,
 18,
 64,
 16,
 1071,
 8,
 101,
 2020,
 42,
 1,
 0,
 3,
 416,
 0,
 12,
 22,
 39,
 1,
 19,
 243,
 19,
 3,
 0,
 5,
 1,
 212,
 8,
 140,
 45,
 0,
 56,
 102,
 0,
 895,
 27,
 69,
 165,
 69,
 676,
 25,
 8,
 17,
 15,
 55,
 178,
 2796,
 22,
 24,
 14,
 384,
 316,
 6,
 82,
 21,
 45,
 3150,
 22,
 19,
 3,
 11,
 103,
 3,
 3,
 0,
 116,
 457,
 3,
 65,
 1,
 0,
 5,
 41,
 38,
 60,
 18,
 6,
 12,
 6,
 123,
 150,
 2,
 0,
 1,
 200,
 40,
 61,
 24,
 2,
 37,
 85,
 103,
 480,
 0,
 102,
 4,
 54,
 155,
 0,
 86,
 492,
 2,
 19,
 3,
 33,
 28,
 1,
 0,
 334,
 32,
 10,
 135,
 254,
 20,
 525,
 31,
 44,
 233,
 53,
 4,
 110,
 209,
 530,
 1,
 7,
 87,
 44,
 11,
 439,
 1,
 19,
 117,
 16,
 0,
 1080,
 3,
 10,
 23,
 77,
 4,
 84,
 15,
 155,
 4,
 2,
 44,
 89,
 0,
 20,
 405,
 3,
 109,
 1,
 9,
 137,
 665,
 18,
 1,
 2,
 472,
 48,
 2,
 171,
 38,
 3,
 9,
 0,
 1363,
 12,
 36,
 33,
 545,
 41,
 0,
 611,
 0,
 101,
 1912,
 364,
 220,
 320,
 193,
 301,
 1355,
 180,
 36,
 0,
 0,
 749,
 6,
 42,
 0,
 110,
 290,
 0,
 444,
 394,
 874,
 12,
 4,
 416,
 295,
 623,
 26,
 63,
 2053,
 110,
 263,
 2062,
 433,
 668,
 8,
 150,
 4,
 450,
 4,
 119,
 261,
 133,
 44,
 120,
 0,
 1323,
 54,
 34,
 52,
 340,
 49,
 155,
 152,
 17,
 9,
 722,
 69,
 1309,
 34,
 90,
 147,
 232,
 105,
 138,
 18,
 67,
 94,
 110,
 40,
 3150,
 577,
 39,
 170,
 169,
 277,
 495,
 302,
 9,
 46,
 734,
 40,
 35,
 32,
 86,
 203,
 440,
 80,
 400,
 227,
 12,
 53,
 260,
 2,
 0,
 236,
 1714,
 14,
 42,
 4,
 92,
 0,
 246,
 59,
 6,
 3,
 53,
 174,
 149,
 229,
 2670,
 40,
 108,
 92,
 5,
 22,
 87,
 84,
 122,
 6,
 28,
 97,
 661,
 120,
 19,
 0,
 180,
 154,
 80,
 70,
 0,
 39,
 30,
 0,
 496,
 77,
 1304,
 1148,
 246,
 190,
 97,
 107,
 37,
 40,
 1446,
 106,
 330,
 1010,
 750,
 111,
 70,
 117,
 1274,
 146,
 872,
 31,
 261,
 0,
 10,
 3,
 890,
 175,
 98,
 27,
 2644,
 27,
 6,
 21,
 113,
 0,
 2430,
 6,
 207,
 278,
 180,
 263,
 200,
 30,
 40,
 3,
 57,
 124,
 76,
 1452,
 58,
 121,
 53,
 502,
 74,
 0,
 10,
 174,
 67,
 32,
 73,
 1,
 369,
 1080,
 38,
 53,
 74,
 37,
 165,
 243,
 8,
 52,
 169,
 117,
 256,
 365,
 291,
 55,
 42,
 36,
 2,
 4,
 128,
 313,
 139,
 57,
 180,
 7,
 496,
 89,
 111,
 591,
 128,
 16,
 1603,
 45,
 2,
 216,
 2543,
 101,
 1451,
 184,
 22,
 1980,
 1155,
 263,
 251,
 96,
 17,
 170,
 12,
 240,
 0,
 711,
 56,
 12,
 500,
 242,
 3,
 145,
 41,
 156,
 82,
 1592,
 187,
 1954,
 461,
 46,
 466,
 63,
 43,
 37,
 5,
 104,
 2,
 16,
 157,
 7,
 258,
 6,
 100,
 63,
 7,
 115,
 168,
 752,
 86,
 2191,
 21,
 0,
 117,
 204,
 46,
 174,
 68,
 768,
 27,
 82,
 191,
 148,
 36,
 288,
 11,
 132,
 152,
 71,
 4,
 602,
 3,
 127,
 29,
 133,
 718,
 450,
 158,
 464,
 23,
 2,
 191,
 125,
 128,
 143,
 0,
 377,
 76,
 15,
 66,
 14,
 1462,
 78,
 4,
 24,
 5,
 7,
 228,
 335,
 10,
 22,
 87,
 407,
 2,
 39,
 47,
 429,
 33,
 3,
 144,
 74,
 23,
 0,
 89,
 64,
 49,
 3150,
 10,
 0,
 385,
 2048,
 16,
 1,
 1146,
 72,
 33,
 3,
 110,
 3,
 25,
 200,
 88,
 0,
 34,
 334,
 392,
 3,
 17,
 88,
 1592,
 57,
 148,
 23,
 77,
 18,
 453,
 150,
 0,
 14,
 7,
 1351,
 123,
 210,
 4,
 211,
 176,
 1117,
 9,
 297,
 3,
 150,
 1500,
 397,
 29,
 196,
 113,
 693,
 0,
 51,
 5,
 90,
 19,
 178,
 171,
 155,
 29,
 59,
 42,
 78,
 207,
 63,
 543,
 105,
 142,
 153,
 13,
 78,
 50,
 469,
 811,
 154,
 84,
 23,
 373,
 337,
 311,
 76,
 110,
 30,
 8,
 25,
 57,
 243,
 10,
 52,
 49,
 17,
 25,
 501,
 96,
 7,
 86,
 979,
 2370,
 41,
 46,
 62,
 4,
 1288,
 58,
 292,
 500,
 306,
 3,
 0,
 74,
 188,
 6,
 30,
 895,
 395,
 51,
 10,
 224,
 826,
 5,
 1493,
 320,
 109,
 117,
 1080,
 129,
 8,
 0,
 6,
 0,
 96,
 21,
 30,
 30,
 86,
 109,
 2,
 180,
 20,
 10,
 112,
 241,
 8,
 33,
 121,
 61,
 0,
 430,
 1,
 0,
 53,
 16,
 0,
 16,
 707,
 3150,
 72,
 297,
 1071,
 11,
 108,
 653,
 6,
 38,
 739,
 33,
 338,
 220,
 246,
 36,
 496,
 6,
 57,
 172,
 57,
 122,
 2329,
 1051,
 80,
 3,
 63,
 117,
 310,
 186,
 1,
 3,
 1,
 27,
 503,
 202,
 0,
 177,
 277,
 0,
 47,
 600,
 29,
 81,
 78,
 22,
 1,
 404,
 164,
 233,
 469,
 165,
 80,
 1276,
 54,
 21,
 73,
 15,
 37,
 109,
 0,
 80,
 83,
 28,
 118,
 118,
 31,
 534,
 170,
 11,
 2,
 673,
 0,
 4,
 219,
 3,
 279,
 14,
 935,
 532,
 4,
 45,
 0,
 272,
 175,
 1410,
 180,
 131,
 28,
 208,
 395,
 458,
 138,
 171,
 18,
 0,
 527,
 3150,
 333,
 311,
 63,
 176,
 638,
 32,
 169,
 28,
 3150,
 0,
 38,
 52,
 339,
 58,
 638,
 69,
 720,
 466,
 101,
 75,
 272,
 9,
 31,
 533,
 122,
 148,
 15,
 5,
 20,
 1001,
 0,
 118,
 11,
 1,
 64,
 25,
 0,
 180,
 189,
 125,
 133,
 986,
 992,
 85,
 43,
 3,
 66,
 691,
 142,
 68,
 0,
 130,
 117,
 95,
 44,
 149,
 642,
 226,
 53,
 3,
 492,
 3150,
 3,
 1982,
 25,
 309,
 75,
 7,
 480,
 50,
 998,
 176,
 210,
 161,
 2550,
 0,
 210,
 16,
 77,
 191,
 227,
 100,
 37,
 274,
 12,
 173,
 24,
 26,
 0,
 281,
 306,
 1535,
 7,
 66,
 356,
 29,
 196,
 21,
 9,
 250,
 28,
 138,
 28,
 764,
 70,
 172,
 32,
 105,
 41,
 696,
 324,
 14,
 220,
 75,
 0,
 28,
 117,
 88,
 895,
 378,
 202,
 8,
 2520,
 698]

# 에러가 날 경우 여태까지 크롤링한 것을 새로운 변수에 저장해서 csv파일로 저장

In [79]:
starbuzz_list = star_buzz

In [81]:
import csv
with open('star_buzz2_연애빠진로맨스.csv', 'w', newline='') as f: 
    writer = csv.writer(f) 
    writer.writerow(starbuzz_list)

# 하나만 돌릴때 사용

In [ ]:
actor = df['actors'][ind].split(',')
actor = actor[:5]

act_cnt = []

end_date = df['개봉일'][ind] - relativedelta(days=1) 
end_date = end_date.strftime('%Y%m%d') 

start_date = df['개봉일'][ind] - relativedelta(months=1) 
start_date = start_date.strftime('%Y%m%d') 


for a in actor:
    query_txt = (df['title'][ind] + a).strip()

    chrome_path = chromedriver_autoinstaller.install()
    driver = webdriver.Chrome(chrome_path)
    # 사이트 주소는 네이버
    url = f'https://search.naver.com/search.naver?where=blog&query={query_txt}&sm=tab_opt&nso=so:r,p:from{start_date}to{end_date}'
    driver.get(url)
    time.sleep(2) 


    # last_height = driver.execute_script("return document.body.scrollHeight")
    #driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    #driver.execute_script("window.scrollTo(0, 45465413211321);")
    #time.sleep(1)



    articles = ".api_txt_lines.total_tit"
    article_raw = driver.find_elements_by_css_selector(articles)

    if not article_raw:
        act_cnt.append(0)
    else:
        n = 20  # 스크롤 1번 당 30개씩
        i = 0
        while i < n: # 이 조건이 만족되는 동안 반복 실행
            scroll_down(driver) # 스크롤 다운
            i = i+1

        articles = ".api_txt_lines.total_tit"
        article_raw2 = driver.find_elements_by_css_selector(articles)

        act_cnt.append(len(article_raw2))

star_buzz.append(sum(act_cnt))

In [69]:
star_buzz

[900]