In [1]:
import pandas as pd

In [76]:
df= pd.read_csv('data_star_기대.csv')

In [77]:
df

,Unnamed: 0,title,directors,actors,plots,genre,runtime,keywords,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz
0,0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",“인왕산에 흉악한 짐승이 나타나 사람을 해쳤다 하옵니다.그것을 두고 듣지도 보지도 ...,액션,105.0,"조선시대,전염병,괴물,시대극/사극,사투",15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1274.0,1629
1,1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",그가 사라졌다그에게서 모든 것이 사라졌다증권회사의 지점장 강재훈(이병헌). 안정된 ...,드라마,97.0,"기러기아빠,호주,오스트레일리아,반전,반전영화,동물",15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,3838.0,581
2,2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...","이겨야죠! 이겨야 할매들 분이 안풀리겠습니까? 1992~1998 6년의 기간, 2...",드라마,121.0,"종군위안부,위안부,일본군위안부피해자,실화바탕,재판,관부재판,정신대,정신대할머니,법정...",12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,494.0,943
3,3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",커피집이 있을 것 같지 않은 골목 안으로 커피집이 있고 사람들이 커피집 안 여기저기...,드라마,66.0,"삶과죽음,타인의 삶,언행,부산국제영화제,베를린영화제,삶의굴레,삶의순환,삶의의미",15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,162.0,111
4,4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",나쁘고 좋은 사람들을 만났다.교통사고로 부모를 잃고 졸지에 가장이 된 영주는 자신의...,드라마,101.0,"부산국제영화제,부모님의죽음,장편데뷔작,복수극",12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,800.0,335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,571,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...","“기다려... 우리가 꼭 데리러 갈게...”해발 8,750 미터 히말라야 에베레스트...",드라마,124.0,"산,등산,히말라야,동료,에베레스트,실화바탕,실화바탕,실화바탕,실존인물,산악등반,동사...",12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,13693.0,1987
572,572,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...","그나저나 나한테 언제 시집 오실 생각이세요? 돈 없고, 대책 없고, 가진 것도 ...",드라마,123.0,"소설원작,중국소설원작",12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,10731.0,1196
573,573,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",전국민을 시원하게 웃겨줄 액션 어드벤처!조선을 뒤흔든 최강도적들의 대격전! 조선의 ...,어드벤처,130.0,"고래,바다,사대부,조선,해적,국새",12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,4941.0,1413
574,574,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...","얼굴, 몸매, 성적 매력까지 다 가진 슈퍼 섹시 아바타로 변신!내 인생 최고의 특급...",코미디,80.0,"백수,생체실험,정체불명,숫총각,아바타",청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,247.0,147
575,88,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...","“책상을 탁! 치니 억! 하고 죽었습니다”1987년 1월, 경찰 조사를 받던 스물두...",드라마,129.0,"518민주화운동,국가폭력,1980년대,1987년,대학생,검사,시위,신문기자,안기부,...",15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,13877.0,1830

In [78]:
#star = pd.read_csv('data_merge_star.csv')

In [79]:
#star.columns

In [80]:
#star = star.drop(['Unnamed: 0', 'directors', 'actors', 'plots', 'genre',
#       'runtime', 'keywords', '등급', '개봉일', '국적', 'screenCnt', 'salesAcc',
#       'audiAcc'], axis=1)

In [81]:
#star

In [82]:
#df = pd.merge(df,star, how='left', on='title' )

In [83]:
#df

In [84]:
#df_ect = pd.read_csv('data_merge_star.csv')

In [85]:
#df_1978 = df_ect[df_ect['title']=='1987']

In [86]:
#df_1978

In [87]:
#df = pd.concat([df,df_1978], axis=0)

In [88]:
#df.loc[df['title']=='1987','제작비'] = 14500000000

In [89]:
df = df.drop(['Unnamed: 0','runtime','keywords','plots'], axis=1)

In [90]:
df

,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz
0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1274.0,1629
1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,3838.0,581
2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...",드라마,12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,494.0,943
3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",드라마,15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,162.0,111
4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",드라마,12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,800.0,335
...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...",드라마,12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,13693.0,1987
572,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...",드라마,12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,10731.0,1196
573,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",어드벤처,12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,4941.0,1413
574,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...",코미디,청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,247.0,147
575,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,13877.0,1830

# 타겟 만들기

In [91]:
df['Target'] = df['salesAcc'] - df['제작비']

In [92]:
df

,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz,Target
0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1274.0,1629,-6.395835e+09
1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,3838.0,581,-1.814481e+09
2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...",드라마,12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,494.0,943,2.102595e+07
3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",드라마,15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,162.0,111,-3.967975e+07
4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",드라마,12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,800.0,335,-2.727025e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...",드라마,12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,13693.0,1987,5.017358e+10
572,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...",드라마,12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,10731.0,1196,-2.594584e+09
573,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",어드벤처,12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,4941.0,1413,5.124063e+10
574,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...",코미디,청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,247.0,147,8.006500e+06
575,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,13877.0,1830,4.366558e+10

In [93]:
df.loc[df['Target']<0,'Target'] = 0
df.loc[df['Target']>0,'Target'] = 1

In [94]:
df

,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz,Target
0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1274.0,1629,0.0
1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,3838.0,581,0.0
2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...",드라마,12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,494.0,943,1.0
3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",드라마,15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,162.0,111,0.0
4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",드라마,12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,800.0,335,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...",드라마,12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,13693.0,1987,1.0
572,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...",드라마,12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,10731.0,1196,0.0
573,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",어드벤처,12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,4941.0,1413,1.0
574,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...",코미디,청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,247.0,147,1.0
575,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,13877.0,1830,1.0

In [95]:
df.reset_index(inplace=True)

## 배우

In [96]:
df['act_n'] = df['actors'].str.split(',')

In [97]:
for i in range(len(df['act_n'])):
    df.loc[i,'act_n'] = len(df['act_n'][i])

## 배급사 합치기

In [98]:
df_pro = pd.read_excel('KOBIS_개봉일람.xlsx')

In [99]:
df_pro = df_pro.drop(['순번', '감독', '제작사', '수입사', '개봉일', '영화유형', '영화형태', '국적',
       '전국', '전국.1', '전국.2', '서울', '서울.1', '장르', '등급', '영화구분'], axis=1)

In [100]:
df_pro.rename(columns={'영화명':'title'}, inplace=True)

In [101]:
df_pro = df_pro.drop_duplicates()

In [102]:
df = pd.merge(df,df_pro, how='left', on='title' )

In [103]:
df = df.drop_duplicates('title', keep='first')

## 배급사 전처리

In [104]:
df['배급사']=df['배급사'].astype('str')

In [105]:
df[df['배급사']=='nan']

,index,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz,Target,act_n,배급사
261,250,출국,노규엽,"이범수, 연우진, 박혁권, 박주미, 이현정, 김보민, 로버트 미카, 전무송, 남문철...",드라마,15세이상관람가,한국,274.0,81722.0,6.395218e+08,2018-11-14,6.500000e+09,150.0,427,0.0,54,nan
594,575,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,13877.0,1830,1.0,295,nan

In [106]:
df.at[261, '배급사'] = '스파일이엔트'

df.at[594, '배급사'] = 'CJ'

In [107]:
df[df['배급사']=='nan']

Empty DataFrame
Columns: [index, title, directors, actors, genre, 등급, 국적, screenCnt, audiAcc, salesAcc, 개봉일, 제작비, 네이버_기대지수, star_buzz, Target, act_n, 배급사]
Index: []

In [111]:
df['배급사'].value_counts()[:10] #160개

(주)씨제이이엔엠              79
(주)넥스트엔터테인먼트월드(NEW)    58
(주)쇼박스                 43
롯데쇼핑㈜롯데엔터테인먼트          39
CGV아트하우스               24
(주)리틀빅픽쳐스              23
메가박스중앙(주)플러스엠          21
롯데컬처웍스(주)롯데엔터테인먼트      21
㈜인디스토리                 16
(주)엣나인필름               11
Name: 배급사, dtype: int64

In [112]:
df['배급사'] = df['배급사'].str.replace('㈜','')

In [113]:
def get_dis(x) :
    if 'CJ' in x or 'CGV' in x or '씨제이' in x :
        return 'CJ'
    elif '쇼박스' in x :
        return '쇼박스'
    elif 'SK' in x or '에스케이' in x:
        return 'SK'
    elif '리틀빅픽' in x :
        return '리틀빅픽처스'
    elif '스폰지' in x :
        return '스폰지'
    elif '싸이더스' in x :
        return '싸이더스'
    elif '에이원' in x :
        return '에이원'
    elif '마인스' in x :
        return '마인스'
    elif '마운틴픽' in x :
        return '마운틴픽처스'
    elif '디씨드' in x :
        return '디씨드'
    elif '드림팩트' in x :
        return '드림팩트'
    elif '메가박스' in x :
        return '메가박스'
    elif '마운틴' in x :
        return '마운틴'
    elif '롯데' in x :
        return '롯데'
    elif 'KBS' in x :
        return 'KBS'
    elif '제이앤씨미디어그룹' in x :
        return '제이앤씨미디어그룹'
    elif '월트디즈니' in x :
        return '월트디즈니'
    elif '그린나래' in x :
        return '그린나래'
    elif 'KTG상상마당' in x or 'KT'in x :
        return 'KTG상상마당'
    elif 'TJOY' in x or 'T-JOY' in x:
        return 'TJOY'
    elif '디오시네마' in x :
        return '디오시네마'
    elif '스톰픽쳐스' in x :
        return '스톰픽쳐스'
    elif '디스테이션' in x :
        return '디스테이션'
    elif '더블앤조이' in x :
        return '디스테이션'
    elif 'CBS' in x :
        return 'CBS'
    elif 'CBS' in x :
        return 'CBS'
    elif '더쿱' in x :
        return '더쿱'
    elif '더콘텐츠온' in x :
        return '더콘텐츠온'
    elif '소니픽쳐스' in x :
        return '소니픽쳐스'
    elif '이수' in x :
        return '이수'
    elif '워너' in x :
        return '워너브라더스'
    elif '삼백' in x :
        return '삼백상회'
    elif '폭스' in x :
        return '폭스코리아'
    elif '엣나인' in x :
        return '엣나인필름'
    elif '티캐스트' in x :
        return '티캐스트'
    elif '콘텐츠판다' in x :
        return '콘텐츠판다'
    elif '판씨네마' in x :
        return '판씨네마'
    elif '키다리' in x :
        return '키다리이엔티'
    elif '스마일이' in x :
        return '스마일이엔티'
    elif '팝엔' in x :
        return '팝엔터테인먼트' 
    elif '오퍼스' in x :
        return '오퍼스픽쳐스' 
    elif '와이드' in x :
        return '와이드릴리즈' 
    elif '오드' in x :
        return '오드' 
    elif '조이앤' in x :
        return '조이앤시네마' 
    elif '박수' in x :
        return '박수엔터테인먼트' 
    elif '찬란' in x :
        return '찬란'
    elif '얼리' in x :
        return '얼리버드'
    elif '영화사빅' in x :
        return '영화사빅'
    elif '에이스' in x :
        return '에이스메이커'
    elif '퍼스트런' in x :
        return '퍼스트런'
    elif 'MM' in x or 'M&M' in x:
        return 'MM인터내셔널'
    elif '드림웨스트' in x :
        return '드림웨스트픽쳐스'
    elif '홀리가든' in x :
        return '홀리가든'
    elif 'R&R' in x :
        return 'RR프로덕션'
    elif '머스트' in x :
        return '머스트씨무비'
    elif '블룸즈' in x :
        return '블룸즈베리'
    elif '모쿠' in x :
        return '모쿠슈라'
    elif '니버설' in x :
        return '유니버설픽쳐스'
    elif '시네마달' in x :
        return '시네마달'
    else :
        return x

In [114]:
df['배급사'] = df['배급사'].apply(get_dis)

In [115]:
df['배급사'].nunique()

115

In [117]:
df['배급사'].value_counts()[:8]

CJ                     117
롯데                      61
(주)넥스트엔터테인먼트월드(NEW)     58
쇼박스                     45
리틀빅픽처스                  30
메가박스                    25
인디스토리                   16
엣나인필름                   13
Name: 배급사, dtype: int64

In [118]:
distributor_list = df['배급사'].value_counts()[:8]
def func(distributor):
    if distributor in distributor_list:
        return distributor
    else:
        return '기타'

In [119]:
df['배급사'] = df['배급사'].apply(lambda x : func(x))

In [120]:
tr_dist_rank =df.groupby('배급사').audiAcc.median().reset_index(name = 'dist_rank').sort_values(by = 'dist_rank',ascending=False)
tr_dist_rank

                   배급사  dist_rank
6                  쇼박스  2424330.0
0  (주)넥스트엔터테인먼트월드(NEW)  1535021.5
1                   CJ  1426873.0
3                   롯데  1110246.0
5                 메가박스   984265.0
4               리틀빅픽처스   112888.5
7                엣나인필름   103054.0
2                   기타     8680.0
8                인디스토리     2216.5

In [121]:
tr_dist_rank['dist_rank'] = [i + 1 for i in range(tr_dist_rank.shape[0])]
tr_dist_rank

                   배급사  dist_rank
6                  쇼박스          1
0  (주)넥스트엔터테인먼트월드(NEW)          2
1                   CJ          3
3                   롯데          4
5                 메가박스          5
4               리틀빅픽처스          6
7                엣나인필름          7
2                   기타          8
8                인디스토리          9

In [122]:
df = pd.merge(df, tr_dist_rank, how = 'left')

In [123]:
df

,index,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz,Target,act_n,배급사,dist_rank
0,0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1274.0,1629,0.0,121,롯데,4
1,1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,3838.0,581,0.0,50,기타,8
2,2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...",드라마,12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,494.0,943,1.0,96,(주)넥스트엔터테인먼트월드(NEW),2
3,3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",드라마,15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,162.0,111,0.0,12,기타,8
4,4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",드라마,12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,800.0,335,0.0,30,CJ,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,571,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...",드라마,12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,13693.0,1987,1.0,73,CJ,3
572,572,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...",드라마,12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,10731.0,1196,0.0,70,(주)넥스트엔터테인먼트월드(NEW),2
573,573,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",어드벤처,12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,4941.0,1413,1.0,148,롯데,4
574,574,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...",코미디,청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,247.0,147,1.0,32,엣나인필름,7
575,575,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,13877.0,1830,1.0,295,CJ,3

## 장르 전처리

In [124]:
df[df['genre']=='기타']

,index,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz,Target,act_n,배급사,dist_rank
185,185,인트로덕션,홍상수,"신석호, 박미소, 김영호, 기주봉, 예지원, 조소연, 서영화, 김민희, 조윤희, 하성국",기타,12세이상관람가,한국,91.0,6185.0,55369270.0,2021-05-27,50000000.0,284.0,142,1.0,10,기타,8

In [125]:
df.at[185, 'genre'] = '드라마'

In [126]:
df[df['genre']=='기타']

Empty DataFrame
Columns: [index, title, directors, actors, genre, 등급, 국적, screenCnt, audiAcc, salesAcc, 개봉일, 제작비, 네이버_기대지수, star_buzz, Target, act_n, 배급사, dist_rank]
Index: []

In [127]:
df.groupby('genre').audiAcc.median().sort_values(ascending=False)

genre
어드벤처      8252669.0
사극        2022527.0
범죄        1736428.0
전쟁        1717566.0
액션        1654992.5
판타지       1535154.5
스릴러        616481.0
코미디        507257.0
미스터리       332993.0
멜로/로맨스     316780.0
공포(호러)     288016.0
SF         102170.0
드라마         95542.0
가족           8327.0
다큐멘터리        8138.5
뮤지컬          1027.0
Name: audiAcc, dtype: float64

In [128]:
df['genre_rank'] = df.genre.map({'뮤지컬' : 16,'다큐멘터리' : 15, '가족' : 14, '드라마' : 13, 'SF' : 12, '공포(호러)' : 11, '멜로/로맨스' : 10, '미스터리' : 9, '코미디':8,'스릴러':7,'판타지':6,'액션':5,'전쟁':4,'범죄':3,'사극':2,'어드벤처':1})

In [129]:
df

,index,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz,Target,act_n,배급사,dist_rank,genre_rank
0,0,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1274.0,1629,0.0,121,롯데,4,5
1,1,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,3838.0,581,0.0,50,기타,8,13
2,2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...",드라마,12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,494.0,943,1.0,96,(주)넥스트엔터테인먼트월드(NEW),2,13
3,3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",드라마,15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,162.0,111,0.0,12,기타,8,13
4,4,영주,차성덕,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",드라마,12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,800.0,335,0.0,30,CJ,3,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,571,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...",드라마,12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,13693.0,1987,1.0,73,CJ,3,13
572,572,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...",드라마,12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,10731.0,1196,0.0,70,(주)넥스트엔터테인먼트월드(NEW),2,13
573,573,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",어드벤처,12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,4941.0,1413,1.0,148,롯데,4,1
574,574,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...",코미디,청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,247.0,147,1.0,32,엣나인필름,7,8
575,575,1987,장준환,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,13877.0,1830,1.0,295,CJ,3,13

## 등급 원핫(빼는게 좋은듯)

In [130]:
#df = pd.get_dummies(columns = ['등급'], data = df)

## 감독 전처리

In [131]:
df['directors'].nunique()

428

In [132]:
df['directors'].value_counts()[:70]

이준익    6
이병헌    4
이한     4
류승완    4
김홍선    4
      ..
이종필    2
이정범    2
장훈     2
육상효    2
한준희    2
Name: directors, Length: 100, dtype: int64

In [133]:
director_list = df['directors'].value_counts()[:100]
def cont_func(director):
    if director in director_list:
        return director
    else:
        return '기타'

In [134]:
df['directors'] = df['directors'].apply(lambda x : cont_func(x))

In [135]:
tr_direct_rank = df.groupby('directors').audiAcc.mean().reset_index(name = 'direct_rank').sort_values(by = 'direct_rank', ascending=False)
tr_direct_rank

   directors   direct_rank
90       최동훈  1.284452e+07
26       김한민  1.254033e+07
41       봉준호  9.613966e+06
15       김용화  9.330964e+06
61       이석훈  8.203116e+06
..       ...           ...
75       이혁종  3.986000e+03
34       박석영  2.908000e+03
3        고봉수  2.345250e+03
38       백승기  2.281000e+03
84       정형석  9.650000e+02

[101 rows x 2 columns]

In [136]:
tr_direct_rank[:70]

   directors   direct_rank
90       최동훈  1.284452e+07
26       김한민  1.254033e+07
41       봉준호  9.613966e+06
15       김용화  9.330964e+06
61       이석훈  8.203116e+06
..       ...           ...
72       이철하  8.399023e+05
6         기타  7.984017e+05
83       정지우  7.794115e+05
11    김선, 김곡  7.134430e+05
14       김용완  6.491440e+05

[70 rows x 2 columns]

In [137]:
tr_direct_rank['direct_rank'] = [i + 1 for i in range(tr_direct_rank.shape[0])]
tr_direct_rank[tr_direct_rank['directors'] == '기타']

  directors  direct_rank
6        기타           67

In [138]:
df= pd.merge(df, tr_direct_rank, how = 'left')
df

,index,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz,Target,act_n,배급사,dist_rank,genre_rank,direct_rank
0,0,물괴,기타,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1274.0,1629,0.0,121,롯데,4,5,67
1,1,싱글라이더,기타,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,3838.0,581,0.0,50,기타,8,13,67
2,2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...",드라마,12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,494.0,943,1.0,96,(주)넥스트엔터테인먼트월드(NEW),2,13,41
3,3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",드라마,15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,162.0,111,0.0,12,기타,8,13,94
4,4,영주,기타,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",드라마,12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,800.0,335,0.0,30,CJ,3,13,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,571,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...",드라마,12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,13693.0,1987,1.0,73,CJ,3,13,5
572,572,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...",드라마,12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,10731.0,1196,0.0,70,(주)넥스트엔터테인먼트월드(NEW),2,13,72
573,573,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",어드벤처,12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,4941.0,1413,1.0,148,롯데,4,1,5
574,574,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...",코미디,청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,247.0,147,1.0,32,엣나인필름,7,8,100
575,575,1987,기타,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,13877.0,1830,1.0,295,CJ,3,13,67

In [240]:
df

,index,title,directors,actors,genre,등급,국적,screenCnt,audiAcc,salesAcc,개봉일,제작비,네이버_기대지수,star_buzz,Target,act_n,배급사,dist_rank,genre_rank,direct_rank
0,0,물괴,기타,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",액션,15세이상관람가,한국,1183.0,723414.0,6.104165e+09,2018-09-12,1.250000e+10,1274.0,1629,0.0,121,롯데,4,5,67
1,1,싱글라이더,기타,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",드라마,15세이상관람가,한국,576.0,351276.0,2.685519e+09,2017-02-22,4.500000e+09,3838.0,581,0.0,50,기타,8,13,67
2,2,허스토리,민규동,"김희애, 김해숙, 예수정, 문숙, 이용녀, 김선영, 김준한, 이유영, 이지하, 이용...",드라마,12세이상관람가,한국,696.0,336822.0,2.521026e+09,2018-06-27,2.500000e+09,494.0,943,1.0,96,(주)넥스트엔터테인먼트월드(NEW),2,13,41
3,3,풀잎들,홍상수,"김민희, 정진영, 기주봉, 서영화, 김새벽, 안재홍, 공민정, 안선영, 신석호, 김...",드라마,15세이상관람가,한국,54.0,7443.0,6.032025e+07,2018-10-25,1.000000e+08,162.0,111,0.0,12,기타,8,13,94
4,4,영주,기타,"김향기, 김호정, 유재명, 탕준상, 장혜진, 김용준, 강동윤, 박옥출, 현봉식, 전...",드라마,12세이상관람가,한국,106.0,24823.0,1.927298e+08,2018-11-22,2.200000e+08,800.0,335,0.0,30,CJ,3,13,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,571,히말라야,이석훈,"황정민, 정우, 조성하, 김인권, 라미란, 김원해, 이해영, 전배수, 정규수, 성병...",드라마,12세이상관람가,한국,1009.0,7759473.0,6.017358e+10,2015-12-16,1.000000e+10,13693.0,1987,1.0,73,CJ,3,13,5
572,572,허삼관,하정우,"하정우, 하지원, 남다름, 노강민, 전현석, 전혜진, 장광, 민무제, 주진모, 성동...",드라마,12세이상관람가,한국,621.0,955175.0,7.405416e+09,2015-01-14,1.000000e+10,10731.0,1196,0.0,70,(주)넥스트엔터테인먼트월드(NEW),2,13,72
573,573,해적: 바다로 간 산적,이석훈,"손예진, 유해진, 김원해, 박철민, 조달환, 신정근, 설리, 이이경, 이경영, 김경...",어드벤처,12세이상관람가,한국,838.0,8646758.0,6.624063e+10,2014-08-06,1.500000e+10,4941.0,1413,1.0,148,롯데,4,1,5
574,574,숫호구,백승기,"백승기, 손이용, 박지나, 조한철, 김선호, 성충경, 신예주, 백대현, 이순자, 손...",코미디,청소년관람불가,한국,14.0,1660.0,1.300650e+07,2014-08-07,5.000000e+06,247.0,147,1.0,32,엣나인필름,7,8,100
575,575,1987,기타,"김윤석, 하정우, 유해진, 김태리, 박희순, 이희준, 설경구, 여진구, 강동원, 유...",드라마,15세이상관람가,한국,1299.0,7231638.0,5.816558e+10,2017-12-27,1.450000e+10,13877.0,1830,1.0,295,CJ,3,13,67

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 576 entries, 0 to 575
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        576 non-null    int64
 1   title        576 non-null    object
 2   directors    576 non-null    object
 3   actors       576 non-null    object
 4   genre        576 non-null    object
 5   등급           576 non-null    object
 6   국적           576 non-null    object
 7   screenCnt    576 non-null    float64
 8   audiAcc      576 non-null    float64
 9   salesAcc     576 non-null    float64
 10  개봉일          576 non-null    object
 11  제작비          576 non-null    float64
 12  네이버_기대지수     576 non-null    float64
 13  star_buzz    576 non-null    int64
 14  Target       576 non-null    float64
 15  act_n        576 non-null    object
 16  배급사          576 non-null    object
 17  dist_rank    576 non-null    int64
 18  genre_rank   576 non-null    int64
 19  direct_rank  576 non-null    int64
dtypes: float64(6), int64(5), object(9)
memory usage: 94.5+ KB

In [141]:
#df_fin = df.drop(['title','actors','배급사','genre','국적','directors','개봉일','audiAcc','salesAcc','등급','index','제작비'], axis=1)

In [264]:
df_fin = df.drop(['screenCnt','title','actors','배급사','genre','국적','directors','개봉일','audiAcc','salesAcc','index','제작비','등급'], axis=1)

In [265]:
df_fin['act_n'] = df_fin['act_n'].astype(int)

In [266]:
df_fin['Target']=df_fin['Target'].astype(int)

In [267]:
df_fin.corr()

,네이버_기대지수,star_buzz,Target,act_n,dist_rank,genre_rank,direct_rank
네이버_기대지수,1.000000,0.438250,0.209951,0.338568,-0.263867,-0.165165,-0.231896
star_buzz,0.438250,1.000000,0.437645,0.503218,-0.573398,-0.387584,-0.599214
Target,0.209951,0.437645,1.000000,0.184003,-0.396984,-0.217079,-0.313346
act_n,0.338568,0.503218,0.184003,1.000000,-0.331823,-0.319730,-0.372496
dist_rank,-0.263867,-0.573398,-0.396984,-0.331823,1.000000,0.355344,0.391429
genre_rank,-0.165165,-0.387584,-0.217079,-0.319730,0.355344,1.000000,0.315690
direct_rank,-0.231896,-0.599214,-0.313346,-0.372496,0.391429,0.315690,1.000000

In [252]:
df_fin['Target'].value_counts()

1    302
0    274
Name: Target, dtype: Int64

In [177]:
#df_fin['act_n'] = df_fin['act_n'].astype('int')
#df_fin['act_n'] = np.log1p(df_fin['act_n']) #로그변환
#df_fin['screenCnt'] = df_fin['screenCnt'].astype('int')
#df_fin['screenCnt'] = np.log1p(df_fin['screenCnt']) #로그변환
#df_fin['dist_rank'] = df_fin['dist_rank'].astype('int')
#df_fin['dist_rank'] = np.log1p(df_fin['dist_rank']) #로그변환
#df_fin['genre_rank'] = df_fin['genre_rank'].astype('int')
#df_fin['genre_rank'] = np.log1p(df_fin['genre_rank']) #로그변환
#df_fin['direct_rank'] = df_fin['direct_rank'].astype('int')
#df_fin['direct_rank'] = np.log1p(df_fin['direct_rank']) #로그변환
#df_fin['star_buzz'] = df_fin['star_buzz'].astype('int')
#df_fin['star_buzz'] = np.log1p(df_fin['star_buzz']) #로그변환

# 모델링

## train_test_split

In [268]:
y = df_fin['Target']
x = df_fin.drop('Target', axis=1)

In [270]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=100)

In [290]:
# 정규화
from sklearn.preprocessing import StandardScaler
 
sc = StandardScaler()
sc.fit(X_train)
 
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

## pycaret

In [280]:
from pycaret.classification import *
from sklearn.model_selection import train_test_split
train, test = train_test_split(df_fin, test_size=0.3, random_state=100)

In [281]:
setup_clf = setup(data = train, target= 'Target', fold_shuffle=True)

In [282]:
top10 = compare_models(sort='Accuracy', n_select=10, fold=5)

In [283]:
tuned_top10 = [tune_model(i, fold=5) for i in top10]

In [284]:
blender_top10 = blend_models(estimator_list=tuned_top10)

In [285]:
final_model = finalize_model(blender_top10)
prediction = predict_model(final_model, data=test)

In [286]:
prediction['Target'] = prediction['Target'].astype(int)

In [287]:
prediction['Label'] = prediction['Label'].astype(float)

In [288]:
prediction['Label'] = prediction['Label'].astype(int)

In [289]:
from pycaret.utils import check_metric
check_metric(prediction['Target'], prediction['Label'], metric = 'Accuracy')

0.6879

## logistic regression

In [162]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [341]:
model = LogisticRegression(penalty = 'l2')
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_pred, y_test)

0.6936416184971098

## gradient tree boosting

In [182]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split

In [183]:
gbc = GradientBoostingClassifier(random_state=100, max_depth=3, learning_rate=0.01) 
gbc.fit(X_train, y_train)
score_train = gbc.score(X_train, y_train)
score_test = gbc.score(X_test, y_test)
gbc_roc_score = roc_auc_score(y_test, gbc.predict(X_test), average='macro')
print('ROC AUC: {0:.4f}'.format(gbc_roc_score))
print('정확도{:.4f}'.format(accuracy_score(y_pred, y_test)))

ROC AUC: 0.7523
정확도0.7052

## linear discriminant

In [184]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.preprocessing import StandardScaler

In [185]:
lda = LinearDiscriminantAnalysis(n_components=1)
lda.fit(X_train, y_train)
#lda.transform(X_train)
y_pred = lda.predict(X_test)
accuracy_score(y_pred, y_test)

0.6936416184971098

## random forest

In [186]:
from sklearn.ensemble import RandomForestClassifier

In [187]:
rfc = RandomForestClassifier(random_state=100)
rfc.fit(X_train, y_train)
y_pred = rfc.predict(X_test)
print('Model accuracy score with 10 decision-trees : {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score with 10 decision-trees : 0.7341

## catboost classifier

In [188]:
from catboost import CatBoostClassifier

In [331]:
clf = CatBoostClassifier(
    iterations=200,
    random_seed = 100,
    learning_rate=0.2, 
    loss_function='Logloss', #CrossEntropy,
    custom_metric = ['Logloss','AUC'],
    early_stopping_rounds = 20,
    use_best_model = True
)

In [332]:
params = {'iterations':200,
          'random_seed':63,
          'learning_rate':0.02,
          'loss_function':'Logloss', ## 사실 Default 값은 Logloss 이다. 만약 CatBoostRegressor 였으면, RMSE 이다.
          'custom_metric':['Logloss','AUC'],##, '
          'early_stopping_rounds':20,
          'use_best_model': True,
          'task_type':"GPU",
          'bagging_temperature':1,
          'verbose':False}

In [333]:
#cat_features = list(range(0, X_train.shape[1]))
#print(cat_features)

In [334]:
clf.fit(X_train, y_train, 
        #cat_features=cat_features, 
        eval_set=(X_test, y_test), 
        verbose=False
)

print('CatBoost model is fitted: ' + str(clf.is_fitted()))
print('CatBoost model parameters:')
print(clf.get_params())

CatBoost model is fitted: True
CatBoost model parameters:
{'iterations': 200, 'learning_rate': 0.2, 'loss_function': 'Logloss', 'random_seed': 100, 'use_best_model': True, 'custom_metric': ['Logloss', 'AUC'], 'early_stopping_rounds': 20}

In [335]:
y_pred = clf.predict(X_test)
print('정확도 : {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

정확도 : 0.7110

## 보팅

In [336]:
from sklearn.ensemble import VotingClassifier

In [342]:
vo_clf = VotingClassifier(estimators=[('RF',rfc),('CAT',clf),('GTB',gbc),('LD',lda)], voting='soft')

In [343]:
vo_clf.fit(X_train, y_train)
pred = vo_clf.predict(X_test)
vo_roc_score = roc_auc_score(y_test, pred, average='macro')
print('ROC AUC: {0:.4f}'.format(vo_roc_score))
print("Voting 분류기 정확도", accuracy_score(y_test, pred))

RuntimeError: Cannot clone object <catboost.core.CatBoostClassifier object at 0x0000020D0F3A7C40>, as the constructor either does not set or modifies parameter custom_metric

In [275]:
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score
# XGBClassifier 객체 생성
xgb_clf = XGBClassifier(n_estimators=100, random_state=156)

# 학습 : 성능 평가 지표를 auc로 설정하고 학습 수행. 
xgb_clf.fit(X_train, y_train, early_stopping_rounds=30,
            # 원래 검증 셋은 test 말고 다른 데이터 셋으로 해야하지만 여기서는 그냥 test 셋으로 진행함
            eval_metric="auc", eval_set=[(X_train, y_train), (X_test, y_test)]) #학습, 검증
#왼쪽이 학습하면서 정확도를 알려줌, 오른쪽은 학습한것에 대한 검증한것

[0]	validation_0-auc:0.88991	validation_1-auc:0.80079
[1]	validation_0-auc:0.91097	validation_1-auc:0.78826
[2]	validation_0-auc:0.93079	validation_1-auc:0.80092
[3]	validation_0-auc:0.94392	validation_1-auc:0.79677
[4]	validation_0-auc:0.95354	validation_1-auc:0.79697
[5]	validation_0-auc:0.96462	validation_1-auc:0.79215
[6]	validation_0-auc:0.97029	validation_1-auc:0.79690
[7]	validation_0-auc:0.97624	validation_1-auc:0.79121
[8]	validation_0-auc:0.97851	validation_1-auc:0.79014
[9]	validation_0-auc:0.98224	validation_1-auc:0.78652
[10]	validation_0-auc:0.98531	validation_1-auc:0.78183
[11]	validation_0-auc:0.98756	validation_1-auc:0.78143
[12]	validation_0-auc:0.99052	validation_1-auc:0.77687
[13]	validation_0-auc:0.99158	validation_1-auc:0.77580
[14]	validation_0-auc:0.99250	validation_1-auc:0.77687
[15]	validation_0-auc:0.99528	validation_1-auc:0.77968
[16]	validation_0-auc:0.99669	validation_1-auc:0.77915
[17]	validation_0-auc:0.99696	validation_1-auc:0.77955
[18]	validation_0-auc:0.99761	validation_1-auc:0.77861
[19]	validation_0-auc:0.99788	validation_1-auc:0.77875
[20]	validation_0-auc:0.99822	validation_1-auc:0.77942
[21]	validation_0-auc:0.99854	validation_1-auc:0.77660
[22]	validation_0-auc:0.99872	validation_1-auc:0.77472
[23]	validation_0-auc:0.99887	validation_1-auc:0.77191
[24]	validation_0-auc:0.99906	validation_1-auc:0.77379
[25]	validation_0-auc:0.99916	validation_1-auc:0.77593
[26]	validation_0-auc:0.99923	validation_1-auc:0.77767
[27]	validation_0-auc:0.99933	validation_1-auc:0.77687
[28]	validation_0-auc:0.99938	validation_1-auc:0.77513
[29]	validation_0-auc:0.99953	validation_1-auc:0.77687
[30]	validation_0-auc:0.99956	validation_1-auc:0.77419
[31]	validation_0-auc:0.99958	validation_1-auc:0.77151
[32]	validation_0-auc:0.99960	validation_1-auc:0.77004

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=4,
              num_parallel_tree=1, objective='binary:logistic',
              predictor='auto', random_state=156, reg_alpha=0, reg_lambda=1,
              scale_pos_weight=1, subsample=1, tree_method='exact',
              use_label_encoder=True, validate_parameters=1, verbosity=None)

In [276]:
xgb_clf.predict_proba(X_test)[:,1]

array([0.2687898 , 0.28433424, 0.7131747 , 0.3588072 , 0.649913  ,
       0.78146845, 0.78146845, 0.29044515, 0.78146845, 0.78146845,
       0.649913  , 0.25697494, 0.45558563, 0.2882276 , 0.29230517,
       0.78146845, 0.7531394 , 0.7531394 , 0.78146845, 0.3588072 ,
       0.2422011 , 0.53447473, 0.29230517, 0.78146845, 0.38276267,
       0.6010247 , 0.56556445, 0.7531394 , 0.3588072 , 0.25697494,
       0.78146845, 0.2422011 , 0.45558563, 0.6530046 , 0.3486037 ,
       0.59280145, 0.29230517, 0.7421599 , 0.25697494, 0.78146845,
       0.3155544 , 0.44470945, 0.3123124 , 0.48427266, 0.75088453,
       0.25697494, 0.5345277 , 0.41461724, 0.6031736 , 0.5383519 ,
       0.78146845, 0.78146845, 0.78146845, 0.36858046, 0.25697494,
       0.78146845, 0.78146845, 0.5162481 , 0.25697494, 0.43387747,
       0.40672725, 0.32757574, 0.25697494, 0.3123124 , 0.32658026,
       0.32757574, 0.3123124 , 0.2882276 , 0.78146845, 0.78146845,
       0.78146845, 0.3123124 , 0.78146845, 0.5088881 , 0.29230517,
       0.5936285 , 0.78146845, 0.78146845, 0.3497686 , 0.6025457 ,
       0.7531394 , 0.45974115, 0.6019561 , 0.32757574, 0.34098825,
       0.29230517, 0.5367237 , 0.7601017 , 0.3497686 , 0.29230517,
       0.7531394 , 0.29230517, 0.32757574, 0.34045985, 0.7531394 ,
       0.3588072 , 0.7531394 , 0.6251132 , 0.40015706, 0.7421599 ,
       0.7531394 , 0.29230517, 0.7531394 , 0.78146845, 0.59025395,
       0.63507426, 0.62699026, 0.2882276 , 0.29230517, 0.36780763,
       0.78146845, 0.71127105, 0.78146845, 0.7378732 , 0.28433424,
       0.78146845, 0.28556675, 0.2422011 , 0.78146845, 0.7531394 ,
       0.43638772, 0.2422011 , 0.45558563, 0.78146845, 0.29230517,
       0.3588072 , 0.302472  , 0.25697494, 0.43305486, 0.36780763,
       0.23623216, 0.29230517, 0.25697494, 0.2422011 , 0.40672725,
       0.29230517, 0.40672725, 0.6122216 , 0.35829136, 0.53447473,
       0.6877015 , 0.34714875, 0.29230517, 0.42292738, 0.29230517,
       0.41461724, 0.5088881 , 0.658214  , 0.41238952, 0.78146845,
       0.5206194 , 0.78146845, 0.7048141 , 0.25697494, 0.48751596,
       0.25697494, 0.3497686 , 0.53447473, 0.6877015 , 0.4725461 ,
       0.7531394 , 0.78146845, 0.28556675, 0.6010247 , 0.7531394 ,
       0.25697494, 0.25697494, 0.679622  , 0.25697494, 0.78146845,
       0.28556675, 0.78146845, 0.78146845], dtype=float32)

In [277]:
xgb_clf.predict(X_test)

array([0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1])

In [278]:
xgb_roc_score = roc_auc_score(y_test, xgb_clf.predict(X_test))
print('ROC AUC: {0:.4f}'.format(xgb_roc_score))

ROC AUC: 0.6955

In [279]:
accuracy_score(y_test, xgb_clf.predict(X_test))

0.6936416184971098

## DNN

In [344]:
#-*- coding: utf-8 -*-
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.layers import Dropout, Dense
from keras.callbacks import ModelCheckpoint,EarlyStopping
import tensorflow as tf
import os
from tensorflow.keras.layers import *
from tensorflow.keras.models import *
from tensorflow.keras.optimizers import *
from tensorflow.keras.callbacks import *

In [354]:
# 딥러닝 모델 선언
model = Sequential()
model.add(Dense(128, input_dim=6, activation='elu'))  # 입력층
model.add(Dense(64, activation='elu'))      # 은닉층1 
model.add(BatchNormalization())
model.add(Dense(32, activation='relu'))      # 은닉층1
model.add(Dense(16, activation='softmax')) 
model.add(Dense(1))# 출력층
# 선형 회귀는 마지막에 참과 거짓을 구분할 필요가 없음. 출력층에 활성화 함수를 지정할 필요도 없음

model.compile(loss='categorical_crossentropy',
              optimizer='adam', 
              metrics=['acc'])

In [355]:
# 모델 저장 폴더 만들기
MODEL_DIR = './model/'
if not os.path.exists(MODEL_DIR):
    os.mkdir(MODEL_DIR)

modelpath = "./model/{epoch:02d}-{val_loss:.4f}.hdf5"

# 모델 업데이트 및 저장
checkpointer = ModelCheckpoint(filepath=modelpath, monitor='val_acc', verbose=0, save_best_only=True, mode='max')
# 콜백함수
reduce_lr = ReduceLROnPlateau(monitor='val_acc', factor=0.1, patience=5, mode='max')

# 학습 자동 중단 설정
early_stopping_callback = EarlyStopping(monitor='val_acc', patience=50, mode='max')

In [356]:
history = model.fit(X_train, y_train, validation_split=0.3, epochs=100, batch_size=32, verbose=1, callbacks=[early_stopping_callback,checkpointer,reduce_lr])
print("\nmae: %.4f" % (model.evaluate(X_train, y_train)[1]))

Epoch 1/100
9/9 [==============================] - 1s 28ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 0.0010
Epoch 2/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 0.0010
Epoch 3/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 0.0010
Epoch 4/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 0.0010
Epoch 5/100
9/9 [==============================] - 0s 4ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 0.0010
Epoch 6/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 0.0010
Epoch 7/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-04
Epoch 8/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-04
Epoch 9/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-04
Epoch 10/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-04
Epoch 11/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-04
Epoch 12/100
9/9 [==============================] - 0s 4ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-05
Epoch 13/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-05
Epoch 14/100
9/9 [==============================] - 0s 6ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-05
Epoch 15/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-05
Epoch 16/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-05
Epoch 17/100
9/9 [==============================] - 0s 9ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-06
Epoch 18/100
9/9 [==============================] - 0s 4ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-06
Epoch 19/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-06
Epoch 20/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-06
Epoch 21/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-06
Epoch 22/100
9/9 [==============================] - 0s 4ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-07
Epoch 23/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-07
Epoch 24/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-07
Epoch 25/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-07
Epoch 26/100
9/9 [==============================] - 0s 9ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-07
Epoch 27/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-08
Epoch 28/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-08
Epoch 29/100
9/9 [==============================] - 0s 6ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-08
Epoch 30/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-08
Epoch 31/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-08
Epoch 32/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-09
Epoch 33/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-09
Epoch 34/100
9/9 [==============================] - 0s 4ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-09
Epoch 35/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-09
Epoch 36/100
9/9 [==============================] - 0s 7ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-09
Epoch 37/100
9/9 [==============================] - 0s 6ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-10
Epoch 38/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-10
Epoch 39/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-10
Epoch 40/100
9/9 [==============================] - 0s 4ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-10
Epoch 41/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-10
Epoch 42/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-11
Epoch 43/100
9/9 [==============================] - 0s 4ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-11
Epoch 44/100
9/9 [==============================] - 0s 4ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-11
Epoch 45/100
9/9 [==============================] - 0s 4ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-11
Epoch 46/100
9/9 [==============================] - 0s 9ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-11
Epoch 47/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-12
Epoch 48/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-12
Epoch 49/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-12
Epoch 50/100
9/9 [==============================] - 0s 4ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-12
Epoch 51/100
9/9 [==============================] - 0s 5ms/step - loss: 6.1718e-08 - acc: 0.4823 - val_loss: 6.4038e-08 - val_acc: 0.4628 - lr: 1.0000e-12
13/13 [==============================] - 0s 1ms/step - loss: 6.2415e-08 - acc: 0.4764

mae: 0.4764